/* css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#333; font-size:14px; font-family:微软雅黑,'Microsoft YaHei'; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
input{resize:none;font-family: "Microsoft YaHei" !important;}
button{font-family: Microsoft yahei;cursor: pointer;}
.fl{float: left;}
.fr{float: right;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
/*头部*/
.head{
	width: 100%;
	height: 79px;
	background: #17832e;
	color: #fff;
	min-width: 1200px;
}
.head-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.nav-list{
	height: 100%;
}
.nav-list li{
	float: left;
	height: 100%;
	padding: 0 25px;
	text-align: center;
	cursor: pointer;
}
.nav-list li img{
	display: block;
	width: 21px;
	height: 23px;
	margin-top: 15px;
	margin-bottom: 8px;
	margin-left: calc(50% - 11px);
}
.nav-list li.li-active{
	background: #0d6b21;
}
.logo-wrap{
	width: 180px;
	height: 30px;
	margin:16px 192px 0 0;
}
/*内容区域*/
.content{
	width: 1200px;
	margin: 0 auto;
}
.con-top{
	margin: 15px 0 15px 0;
}
.newAdd,.add-bw{
	display: inline-block;
	color: #fff;
	border: 1px solid #367ccc;
	height: 38px;
	line-height: 36px;
	/*border-radius: 4px;*/
	cursor: pointer;
	padding: 0px 16px 0px 34px;
	background:#367ccc url(/images/schoolbase/+.png) no-repeat 12px 13px;
}

.newAdd2{
	display: inline-block;
	color: #fff;
	border: 1px solid #367ccc;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	padding: 0px 12px 0px 12px;
	background-color: #367ccc;
}
.newAdd3 {
	display: inline-block;
	color: #fff;
	border: 1px solid #367ccc;
	height: 27px;
	line-height: 27px;
	margin-left: 30px;
	cursor: pointer;
	padding: 0px 16px 0px 32px;
	background: url(/images/schoolbase/+.png) no-repeat 10px 7px;
	background-color: #367ccc;
	margin-top: 10px;
}

.con-top input[type="text"]{
	width: 233px;
	padding-left: 30px;
	height: 40px;
	border: 1px solid #a5a5a5;
	border-right: none;
	background: url(/images/schoolbase/search.png) no-repeat 8px 10px;
}
.label-search{
	display: inline-block;
	padding: 8px 0;
}
.label-search input[type="text"]{
	width: 184px;
	padding-left: 5px;
	height: 30px;
	border: 1px solid #a5a5a5;
	border-right: none;
	
	border-top-left-radius: 4px;
	border-bottom-left-radius:4px; 
	background: #fff;
}
.label-search input[type="submit"]{
	width: 32px;
	height: 32px;
	
	border: 1px solid #a5a5a5;
	line-height:30px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	margin-left: -4px;
	background: url(/images/schoolbase/search.png) no-repeat 6px 7px;
	background-color:#fff;
}
.con-top input[type="submit"],.btn-save{
	width: 72px;
	height: 40px;
	background:#367ccc;
	color: #fff;
	border: 1px solid #367ccc;
	line-height:36px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	margin-left: -4px;
	font-family: "Microsoft YaHei" !important;
}
.btn-save{
	margin-top: 20px;
	width: 70px !important;
	height: 38px !important;
}
.con-left{
	width: 278px;	
}
.con-left dl{
	height: 500px;
	border:1px solid #a8b5be;
	overflow-y:auto; 
	background: #f5f8fa;
}
.con-left dl dt{
	background: #d6e3ec;
	padding-left: 27px;
	border-bottom: 1px solid #a8b5be;
}
.con-left dl dt p{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
}
.con-left dl dd{
	height: 54px;
	line-height: 54px;
	border-bottom: 1px solid #d6e3ec;
	padding-left: 27px;
	cursor: pointer;
}
dd.span-active{
	background:#bacce5;
}
.con-left dl dd img{
	width: 19px;
	height: 19px;
	float: right;
	margin-right: 25px;
	display: none;
	margin-top:19px;
}
.con-left dl dd span{
	display: inline-block;
	width: 185px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
dd.special-dd img{
	display: inline-block !important;
}
.con-main{
	width: 100%;
}
.con-right{
	width: 902px;
}
.page-turn{
	width: 100%;
	padding-top: 14px;
	text-align: right;
}
.page-turn a{
	display: inline-block;
	width: 23px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f5f8fa;
	border: 1px solid #a8b5be;
	margin-left: 11px;
	font-size: 18px;
}
.con-head{
	padding-left: 27px;
	height: 50px;
	background: #d6e3ec;
	border-bottom: 1px solid #a8b5be;
}
.con-right{
	border: 1px solid #a8b5be;
}
.con-head h3{
	font-size: 18px;
	line-height: 50px;
}
.con-text{
	padding: 10px 65px 30px 49px;
	max-height: 600px;
	overflow-y:auto;
}
.con-operate span{
	display: inline-block;
	padding: 5px 12px 5px 34px;
	background-color: #f5f5f5;
	border: 1px solid #929292;
	margin-right: 20px;
	margin-top: 10px;
	/*border-radius: 3px;*/
	cursor: pointer;
}
.btn-sign{
	background: url(/images/schoolbase/span-1.png) no-repeat 11px 8px;
}
.btn-edit{
	background: url(/images/schoolbase/span-2.png) no-repeat 10px 7px;
}
.btn-del{
	background: url(/images/schoolbase/span-3.png) no-repeat 11px 6px;
}
.btn-start{
	background: url(/images/schoolbase/span-4.png) no-repeat 8px 10px;
}
.btn-record{
	background: url(/images/schoolbase/span-5.png) no-repeat 10px 6px;
}
.con-text dl dt{
	color: #333;
	font-weight: bold;
	line-height: 34px;
}
.con-text dl dd{
	line-height: 24px;
}
/*背景层*/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

/*弹窗*/
.classedit-alert,.termedit-alert,.tableedit-alert,.stu-edit,.teachange-alert,.addteacher-alert,.addsubject-alert,.newadd-alert,.revision-alert,.addbw-alert,.addtable-alert,.jslxsz-alert,.addjxl-alert,.addjs-alert,.history-alert,.addgrade-alert,.edit-room{
	width: 432px;
	border: 3px solid #17832e;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -219px;
	margin-top: -185px; 
	z-index: 999;
	background: #fff;
	display: none;
	
}
.addteacher-alert{
	width: 675px !important;
	margin-left: -347px;
	margin-top: -238px;
}
.addbw-alert{
	width: 888px;
	margin: 0 !important;
	transform: translate(-50%,-50%);
}
.newadd-alert .alert-main{
	padding-top: 20px;
}
.newadd-alert .alert-div{
	margin-left: 74px;
}
.revision-alert{
	width: 456px !important;
	margin-left: -231px;
	margin-top: -124px;
}

.revision-alert .alert-main{
	width:80%;
	margin:0 auto;
	padding-top: 30px;
	text-align: left;
	min-height: 100px;
}
.alert-main .tea-list-2 span img{
	display: none;
}
.alert-top{
	width: 100%;
	height: 45px;
	background:#e6e6e6;
	line-height: 44px;
}
.alert-top .alert-l{
	margin-left: 18px;
}
.alert-top .alert-r{
	margin-right: 18px;
	font-size: 30px;
	cursor: pointer;
}
.alert-top .alert-main{
	width: 100%;
}
.new-add .alert-div{
	margin-bottom: 22px;
}
.newadd-alert .alert-div{
	margin-bottom: 10px;
}
.alert-div .type-name{
	display: inline-block;
    width: 104px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 6px;
}
.alert-div input[type="text"]{
	width: 315px;
	padding-left: 5px;
	height: 33px;
	border: 1px solid #dbdbdb;
	/*border-radius: 3px;*/
}
.alert-bottom{
	width: 100%;
	text-align: center;
	padding: 60px 0 20px 0;
}
.alert-bottom button,.btn-wrap button,.btn-revision,button.btn-sure,button.btn-r-sure,button.btn-add{
	padding: 6px 25px;
	/*border-radius: 4px;*/
	cursor: pointer;
	margin-right: -2px;
}
.btn-sure,.btn-r-sure,.btn-submit,.btn-revision,.btn-add{
	background: #367ccc;
	border:1px solid #367ccc;
	color: #fff;
}
.btn-esc,.btn-reset,.btn-r-esc{
	background: #e4e4e4;
	border: 1px solid #c0c0c0;
}
.label-wrap span,.tea-list span,.tea-list-2 span{
	display: inline-block;
	padding: 1px 13px;
	background: #e6effb;
	border: 1px solid #e6effb;
	border-radius: 15px;
	color: #3d67a0;
	cursor: pointer;
	margin:0 10px 10px 0;
	position: relative;
}
.tea-list span img,.label-wrap span img,.tea-list-2 span img{
	width: 16px;
	height: 16px;
	position: absolute;
	top: -8px;
	left: -8px;
}
span.add-new{
	background:#fff !important;
	border:1px solid #999 !important;
	color: #999 !important;
}
.hide-add{
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: -6px;
	vertical-align: middle;
}
.hide-add input{
	width: 160px !important;
	height: 28px !important;
	border: 1px solid #a8b5be;
	margin-right: 20px;
}
.hide-add span{
	display: inline-block;
	width: 36px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #cacaca;
	background: #eee;
	/*border-radius: 3px;*/
	cursor: pointer;
}

/*newTable*/
.newTable{
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}
.newTable th{
	height: 55px;
	background: #e3e3e3;
	font-weight: bold;
	border: 1px solid #d3d3d3;
}
.newTable td{
	height: 40px;
	border: 1px solid #d3d3d3;
}
.newTable tbody tr:nth-child(2n){
	background: #f6f6ff;

}
.newTable tr td  img{
/*	margin: -4px 4px*/
}
.newTable a{
	display: inline-block;
	color: #3999d5;
	padding: 0 9px;
}
.newTable div.td-special{
	padding-left: 5px;
	width: 238px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	text-align: left;
}
.span-now,.span-un,.span-over,.span-pass,.span-wait,.span-not{
	display: inline-block;
	width: 47px;
	height: 18px;
	border-radius: 10px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.span-now,.span-pass{
	background: #63c732;
	border: 1px solid #63c732;
}
.span-un,.span-wait{
	background: #f3b149;
	border: 1px solid #f3b149;
}
.span-not{
	background: #ff605c;
	border: 1px solid #ff605c;
}
.span-over{
	background: #bebebe;
	border: 1px solid #bebebe;
}
/*分页*/
.page-list{
	width: 100%;
	text-align: right;
	margin-top: 56px;
}
.page-list a{
	display: inline-block;
	width: 27px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #bfbfbf;
	margin-left: 8px;
}
.page-list a.page-now{
	background: #17832e;;
	color: #fff;
	border: 1px solid #17832e;;
}
.page-prev,.page-next{
	width: 56px !important;
}
/*start-con*/
.start-con{
	width: 1200px;
	margin: 32px auto;
	display: none;
}
.btn-copy{
	padding-left: 12px !important;
	margin-left: 32px;
}
.class-path{
	height: 56px;
	line-height: 56px;
	padding-left: 6px;
}
.path-root{
	cursor: pointer;
}
.start-main{
	padding-bottom: 40px;
	border: 1px solid #a8b5be;
}
.time-set input{
	width: 155px !important;
	height: 28px !important;
}
.set-con .alert-div{
	margin:0 0 20px 45px;
}
.set-step{
	width: 560px;
	height: 60px;
	line-height: 60px;
	margin:0 0 10px 20px; 
	border-bottom:1px solid #a8b5be;
}
.set-step span{
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background: #d6e3ec;
	border: 1px solid #a8b5be;
	line-height: 19px;
	text-align: center;
	margin-right: 6px;
}
.set-select select{
	width: 126px;
	height: 30px;
	border:1px solid #a8b5be;
}
.set-input input{
	width: 180px !important;
	height: 31px !important;
	border: 1px solid #a8b5be;
}
.spe-input input{
	width: 372px !important;
	height: 31px !important;
}
.alert-div input[type="checkbox"]{
	vertical-align: middle;
	margin: 0 5px 2px 0;
}
.alert-div label{
	margin-right: 18px;
}
.set-right{
	margin-right: 20px;
}
.set-table{
	width: 505px;
	text-align: center;
	margin: 15px 0 0 48px;
}
.set-table th{
	background: #d6e3ec;
	border:1px solid #a8b5be;
	height: 35px;
}
.set-table td{
	height: 35px;
	border: 1px solid #a8b5be;
}
.btn-wrap{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.file-div{
	position: relative;
	display: inline-block;
}
.file-div input[type="file"]{
	padding-left: 25px;
	width: 80px;
	height: 21px;
	opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
	left: 0;
	top:0;
}
.file-div>span{
	display: inline-block;
	padding-left: 25px;
	background: url(/images/schoolbase/file.png) no-repeat 0px 0px;
	color: #3d67a0;
	width: 80px;
	height: 21px;
}
#edui1{
	width: 598px !important;
}
#edui1_iframeholder{
	width: 598px !important;
	height: 150px !important;
}
.eva-over{
	padding-left: 8px;
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.tea-list{
	padding: 10px 0 0 10px;
	max-height: 160px;
	overflow-y:auto; 
	display: inline-block;
}
.label-hide{
	width: 675px;
	display: none;
	padding: 8px 8px 0 8px;
	border:1px solid #bfbfbf;
	height: 32px;
	overflow-y: auto;
}
.label-hide span img{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.set-left .alert-div>span,.set-right .alert-div>span{
	font-weight: normal;
}
.set-step{
	font-weight: bold;
}
.set-table td{
	cursor: pointer;
}
.set-table td img{
	width: 22px;
	height: 22px;
	display: none;
}
.file-wrap{
	display: inline-block;
}
.file-wrap>div{
	float: left;
	width: 60px;
	height: 68px;
	text-align: center;
	position: relative;
	margin-right: 20px;
}
.file-wrap>div>img:first-child{
	width: 48px;
	height: 48px;
}
.file-wrap>div>span{
	display: inline-block;
	width: 60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.file-wrap>div>img:last-child{
	width: 16px;
	height: 16px;
	position: absolute;
	top: -8px;
	right: -8px;
	cursor: pointer;
}
/*basicData.css*/
.left-nav{
	width: 180px;
	border: 1px solid #dbdbdb;
	margin-top: 70px;
}
.out-nav{
	width: 280px;
}
.left-nav ul{
	border:1px solid #dbdbdb;
}
.left-nav li{
	padding-left: 34px;
	height: 48px;
	line-height: 48px;
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
	cursor: pointer;
}
.left-nav li:last-child{
	border-bottom: none;
}
.left-nav li em{
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
	margin-right: 9px;
	vertical-align: middle;
}
.left-nav li.li-cur em{
	background: #17832e;
}
.left-nav li.li-cur{
	color: #17832e;
}
.right-con{
	width: 1000px;
}
.r-op .grade-select select{
	width: 138px;
	height: 35px;
	border: 1px solid #bebebe;
	margin: 0 43px 0 12px;
}
.r-op .grade-more{
	padding: 10px 8px;
	background: #367ccc;
	cursor: pointer;
	color: #fff;
	/*border-radius: 4px;*/
}
.hide-inf{
	max-width: 265px;
	border: 1px solid #dbdbdb;
	/*border-radius: 4px;*/
	padding: 5px  0 5px 8px;
	display: none;
	position: absolute;
	right: -149px;
	top: -10px;
	background-color: #fff;
	min-width: 157px;
	min-height: 20px;
	max-height: 236px;
	overflow-x: hidden;
	overflow-y: auto;

}
.table-look{
	line-height: 30px;
	width: 100px;
}
.hide-inf .hide-subject{
	padding: 0 8px;
	background: #e3e3e3;
	margin-right: 10px;
	border-radius: 15px;

}
.hide-inf li{
	height: 30px;
	line-height: 30px;
	text-align: left;
}
.newTable a.table-look:hover .hide-inf{
	display: block;
}
.hide-inf img{
	position: absolute;
	left: -7px;
	top: 14px;
}
.alert-head{
	width: 330px;
	padding: 36px 3px 8px 3px;
	border-bottom: 1px solid #dbdbdb;
	margin: 0 auto;
	margin-bottom: 20px;
}
.alert-head span{
	font-weight: bold;
}
.alert-head a{
	color: #3999d5;
}
.newadd-alert .alert-div select{
	width: 183px;
	height: 35px;
	border: 1px solid #dbdbdb;
}
.inline-div{
	display: inline-block !important;
}
.path-div{
	height: 50px;
	line-height: 50px;
}
.con-prev{
	background: url(/images/schoolbase/group-return.png)no-repeat;
    width: 29px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}
.edit-con{
	display: none;
}
.alert-div{
	margin-bottom: 15px;
}
.edit-con .inline-div input[type="text"]{
	width: 146px;
	height: 33px;
	margin-right: 25px;
}
.edit-nav{
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
}
.edit-nav li{
	float: left;
	width: 112px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	background: #eee;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	margin-right: 2px;
	cursor: pointer;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.edit-nav li.edit-cur{
	background: #17832e;
	color: #fff;
}
.tea-inf {
	width: 96px;
	text-align: center;
	padding-right: 40px;
	margin-top: 35px;
}
.div-wrap{
	padding-left: 40px;
	height: 250px;
	border-left: 1px solid #dbdbdb;
}
.tea-inf img{
	width: 96px;
	height: 96px;
	border-radius: 50%;
}
.tea-inf dl{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 85px;
	position: relative;
}
.tea-inf dl dt{
	font-weight: bold;
	margin:5px 0;
}
.tea-inf dl dd a{
	position: absolute;
	color: #3999d5; 
	top: -115px;
	right: -30px;
}
.edit-main{
	border: 1px solid #dbdbdb;
	border-top: none;
}
.edit-main>div{
	min-height: 490px;
	
	border-top: none;
}
.basic-data{
	padding:30px 40px;
	height: 250px;

}
.bw-div{
	padding: 45px 40px 0 35px;
}
.tea-div{
	padding:30px 40px 0 40px;
}
.head-span{
	display: block;
	font-weight: bold;
	padding: 0 0 10px 10px;
	margin-bottom: 13px;
}
.head-list li{
	float: left;
	width: 75px;
	text-align: center;
	margin: 0 20px 15px 0;
	text-align: center;
}
.head-list li img{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-bottom: 5px;
}
.head-list li span.tea-name{
	display: inline-block;
	width: 75px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.div-1{
	width: 120px;
	height: 250px;
	padding-right: 40px;
	border-right: 1px solid #dbdbdb;
	text-align: center;
}
.div-1 .head-list{
	margin-top: 40px;
}
.div-1 li span.tea-name{
	width:96px !important;
}
.div-1 li img{
	width: 96px;
	height: 96px;
}
.div-2{
	width: 600px;
	height: 250px;
	padding-left: 40px;
	position: relative;
}
.div-1 .head-list li{
	height: 67px;
}
.head-list{
	padding-left: 22px;
	height: 448px;
	overflow-x: hidden;
	overflow-y: auto;
}

.div-2 .head-list li{
	height: 95px;
	position: relative;
}
.head-list li span.tea-subject {
	display: inline-block;
	padding: 0 6px;
	background: #d0edff;
	border-radius: 15px;
	box-sizing: border-box;
	width: 75px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.class-member{
	padding: 30px 40px 0 40px;
}
.member-select{
	width: 100%;
	background: #e6f0ff;
}
.member-select a{
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	cursor: pointer;
}
.member-list{
	padding: 15px 15px 0 15px;
}
.member-list li{
	float: left;
	width: 65px;
	height: 68px;
	margin: 0 15px 15px 0;
	cursor: pointer;
	text-align: center;
	border:1px solid transparent;
}
/*.member-list li:hover{
	background: url('/images/schoolbase/group-rg.png')no-repeat #EBF6FF 49px -3px;
	border: 1px solid #bebebe!important
}

.group-rg {
	background: url('/images/schoolbase/group-rg.png')no-repeat 49px -3px;
	border: 1px solid #bebebe!important;
}
.group-rgg{
	background:#dfdfdf;
	border: 1px solid #bebebe !important;
	cursor: default!important;
}*/
.group-rgg{
	background:#dfdfdf;
	border: 1px solid #bebebe !important;
	cursor: default!important;
}
.group-rg {
	background: url('/images/schoolbase/group-rg.png')no-repeat 49px -3px;
	border: 1px solid #bebebe!important;
}
.member-list li img{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-bottom: 5px;
}
.member-list li span{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.member-head .member-title{
	font-weight: bold;

}

.class-edit{
	background: url(/images/schoolbase/tz.png) no-repeat 8px 6px;
}
.class-del{
	background: url(/images/schoolbase/sc.png) no-repeat 8px 6px;
}
.class-edit,.class-del{
	display: inline-block;
	padding: 4px 12px 4px 32px;
	background-color: #367ccc;
	border: 1px solid #367ccc;
	cursor: pointer;
	margin-left: 25px;
	color: #fff;
	/*border-radius: 4px;*/
}
.div-3{
	margin-top: 7px;
	border: 1px solid #dbdbdb;
}
li.li-special{
	cursor: pointer;
}
.alert-span{
	font-weight: bold;
}
.addbw-alert .alert-div select{
	width: 183px;
	height: 35px;
	border:1px solid #dbdbdb;
}
.addbw-alert .alert-div input{
	width: 181px;
	height: 33px;
}
.addbw-alert .alert-main{
	padding: 25px 45px 0 45px;
}
.bw-div,.tea-div,.class-member{
	display: none;
}

/*教师管理*/
.tea-tran,.tea-on,.tea-stop{
	display: inline-block;
	width: 47px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 15px;
	color: #fff;
}
.tea-tran{
	background: #f3b149;
	border: 1px solid #f3b149;
}
.tea-on{
	background: #63c732;
	border: 1px solid #63c732;
}
.tea-stop{
	background: #ff5f5b;
	border: 1px solid #ff5f5b;
}
.per-inf,.work-experience,.work-perf{
	display: none;
}
.sub-list li{
	float: left;
	width: 95px;
	height: 113px;
	margin:0 18px 15px 0;
	cursor: pointer; 
	text-align: center;
}
.sub-list li img{
	width: 53px;
	height: 53px;
	margin: 24px 0 6px 0;
}
.sub-list li span{
	display: inline-block;
	width: 85px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.sub-list li.li-select{
	background: url(/images/schoolbase/subbg.png) no-repeat right top;
}
.classTL li.li-select{
	background: url(/images/schoolbase/subbg.png) no-repeat right top;
}
.myList2 li.li-select{
	background: url(/images/schoolbase/subbg.png) no-repeat right top;
}
.myList li.li-select{
	background: url(/images/schoolbase/subbg.png) no-repeat 47px -3px;
}
.short-div input[type="text"]{
	width: 97px !important;
	height: 33px;
}
.per-inf .alert-div{
	display: inline-block;
}
.per-inf{
	padding:20px 45px 50px 45px;
}
.alert-div .year-select{
	width: 136px;
	height: 35px;
	border: 1px solid #dbdbdb;
}
.alert-div .month-select{
	width: 102px;
	height: 35px;
	border: 1px solid #dbdbdb;
}
.per-inf .width-div{
	width: 380px;
	margin-right: 25px;
}
.per-inf .alert-div input[type="text"]{
	width: 296px;
}
.margin-div{
	margin-right: 20px;
}
.per-inf .other-div{
	display: block !important;
}
.work-experience{
	padding: 0 45px;
}
.work-experience .alert-div{
	display: inline-block;
}
.time-div input[type="text"]{
	width: 136px;
	height: 35px;
}
.work-experience .alert-div textarea{
	width: 656px;
	height: 90px;
	padding: 3px 5px;
	border: 1px solid #dbdbdb;
/*	border-radius: 4px;*/
	resize:none;
}
._,.ln-last,.ln-letter-count{
	display: none !important;
}
/***********学生管理***************/
.stu-manages-t{
	float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
.stu-manages-t button{
	border:1px solid rgb(54, 124, 204);
    /*border-radius: 3px;*/
    color: white;
    width: 87px;
    height: 40px;
    margin-left: 35px;
    padding-left: 15px;
}
.stu-load{
	background: url(/images/schoolbase/stu-load.png) 15px 10px no-repeat rgb(54, 124, 204);
}
.stu-rl{
	background: url(/images/schoolbase/stu-rl.png) 15px 10px no-repeat rgb(54, 124, 204);
}
.stu-manage-cls{
 
    border: 1px solid #c7c7c7;
    width: 100%;
    margin-top: 10px;
}
.stu-cls span{
	margin-bottom: 5px;
	margin-right: 10px;
}
.stu-cls select{
	border:1px solid #c7c7c7;
	height: 35px;
	width: 182px;
	border-radius: 0px;
}
.stu-cls{
    padding-top: 3px;
    padding-left: 15px;
}
.stu-cl-top{
	background: #e3e3e3;
    height: 40px;
}
.stu-crs{
	float: right;
    margin-top: -25px;
    padding-right: 15px;
}
.stu-crs input{
	width: 15px;
    height: 15px;
}
.stu-list{
/*	margin-top: 10px;*/
	width: 100%;
	border-top:1px solid #c7c7c7;
}
.stu-list li{
    display: inline-block;
    width: 90px;
    height: 100px;
    text-align: center;
    margin: 10px 5px;
    cursor: pointer;
}
.stu-list li span{
    display: inline-block;
    font-size: 12px;
    width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stu-li-ho{
	background: url(/images/schoolbase/group-rg.png) no-repeat 72px -4px;
    border: 1px solid #367ccc;
    height: 98px !important;
    width: 88px!important;
}
.ul-special li{
	height: 80px !important;
}
.stu-list li img{
    margin: 10px 10px 0px 10px;
}
.stu-tb{
	margin-top: 20px;
}
.stu-bl img{
    vertical-align: top;
    margin: 2px 0 0 0;
	position: relative;
	left:4px;
}
.stu-tb button{
	float: left;
	border:1px solid #357dcc;
	color: white;
	/*border-radius: 3px;*/
	background: url(/images/schoolbase/+.png) no-repeat 12px 11px #357dcc;
	padding: 9px 16px 9px 34px;
}
.stu-tb input[type="text"] {
    width: 233px;
    padding-left: 30px;
    height: 40px;
	box-sizing: border-box;
    border: 1px solid #a5a5a5;
    border-right: none;
    background: url(/images/schoolbase/search.png) no-repeat 8px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.stu-tb input[type="submit"] {
    width: 72px;
    height: 40px;
    background: #367ccc;
    color: #fff;
    border: 1px solid #367ccc;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.stu-tab{
	margin-top: 15px;
}
.stu-tab,.stu-tab table{
	width: 1000px;
}
.stu-tab tr th,.stu-tab tr td{
	border:1px solid #d3d3d3;
	text-align: center;
}
.stu-tab tr th{
	height: 55px;
	background: #e3e3e3;
	font-weight: bold;
}
.stu-tab tr:nth-child(even){
	background: #f5f7ff;
}
.stu-tab tr td{
	height: 42px;
}
.stu-tab tr td em{
	display: inline-block;
	margin: 0px 5px;
	color: #3a7cc9;
	cursor: pointer;
}
.stu-gl{
	background: url(/images/schoolbase/female.png) no-repeat 35px 12px;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding-left: 0px;
    padding-top: 10px;
    margin-left: -15px;
}
.stu-bl{
	/*background: url(/images/schoolbase/male.png) no-repeat 35px 12px;*/
    display: inline-block;
    width: 50px;
    height: 30px;
    padding-left: 0px;
    padding-top: 10px;
    /*margin-left: -15px;*/
}
/**********************添加学生*************************/
.stu-add{
	display: none;
	position: fixed;
	width: 440px;
	height: 445px;
	top: 50%;
	left: 50%;
	margin-top: -222.5px;
	margin-left: -220px;
	background: white;
	border:3px solid #178330;
	/*border-radius: 3px;*/
	z-index: 999;
}
.stu-add-top{
	height: 48px;
	background: #e6e6e6;
}
.stu-add-top em,.stu-add-top i{
	margin: 15px 20px;
    display: inline-block;
}
.stu-add-top i{
	cursor: pointer;
	float: right;
	width: 20px;
	height: 20px;
	background: url('/images/schoolbase/close-n.png') no-repeat;
}
.stu-add-info i{
	font-style: normal;
}
.stu-add-info dl{
	margin: 25px 75px;
}
.stu-add-info dl dd em{
	display: inline-block;
	font-weight: bold;
}
.add-mg em{
	margin-right: 27px;
}
.stu-add-t{
	margin: 10px 0px;
}
.stu-add-info dl dd input{
	border:1px solid #bfbfbf;
	height: 35px;
	width: 225px;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.stu-add-info dl .add-mg input{
	width: 15px;
	height: 15px;
	margin-right: 15px;
}
.stu-add-info dl dd select{
	border:1px solid #bfbfbf;
	height: 35px;
	width: 185px;
	border-radius: 0px;
	margin-top: 5px;
}
.add-bo{
	width: 100%;
    text-align: center;
}
.add-bo button{
	width: 85px;
    height: 35px;
    /*border-radius: 3px;*/
    margin: 0px 5px;
}
.add-bo .group-qd{
    background: #2266c2;
    border: 1px solid #2266c2;
    color: white;
}
.add-bo .group-qx{
    background: #e4e4e4;
    border: 1px solid #bfbfbf;
    color: black;
}

.add-bo .group-ru-qd{
	background: #2266c2;
	border: 1px solid #2266c2;
	color: white;
}
.add-bo .group-ru-qx{
	background: #e4e4e4;
	border: 1px solid #bfbfbf;
	color: black;
}
/*******************年级管理*********************/
.grade-top{
	margin-top: 15px;
}
.grade-top button{
	border:1px solid #357dcc;
	background: #357dcc;
	color: white;
	/*border-radius: 3px;*/
	width: 100px;
	height: 40px;
}
.grade-top .grade-top-lt{
	background: url(/images/schoolbase/grade-edit.png) no-repeat #357dcc 10px 10px;
    padding: 0px 0px 0px 20px;
    width: 130px;
}
.grade-top-rt{
	float: right;
	margin-left: 20px;
}
.grade-info{
    margin-top: 15px;
}
.grade-info table{
	width: 1000px;
}
.grade-info tr th, .grade-info tr td {
    border: 1px solid #d3d3d3;
    text-align: center;
}
.grade-info tr th {
    height: 55px;
    background: #e3e3e3;
	font-weight: bold;
}
.grade-info tr td {
    height: 42px;
}
.grade-info tr:nth-child(even) {
    background: #f5f7ff;
}
.grade-info tr td em{
	color: #4080d3;
}
.grade-ck,.grade-edit{
	cursor: pointer;
}
.grade-edit-popup{
	display: none;
	position: fixed;
	width: 463px;
	height: 475px;
	top: 50%;
	left: 50%;
	margin-top: -237.5px;
	margin-left: -220px;
	background: white;
	border:3px solid #18832e;
	z-index: 9999;
}
.grade-popup-info{
	margin: 20px 30px;
    width: 410px;
}
.grade-popup-info dl{
	margin: 25px 80px;
}
/* .grade-popup-info tr td,.grade-popup-info tr th{
	text-align: center;
	width: 147px;
	height: 40px;
	border:1px solid white;
}
.grade-popup-info tr{
	background: #d1d9e9;
}
.grade-popup-info tr:nth-child(even){
	background: #e9edf5;
}
.grade-popup-info tr th{
	background: #4e81bd;
	color: white;
} */
.grade-popup-info dl dd{
	margin: 5px 0px;
}
.grade-popup-info dl dd em{
	color: black;
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;
}
.grade-popup-info dl dd input{
	width: 150px;
	height: 35px;
	border:1px solid #bfbfbf;
}
.subject-top{
	height: 40px;
	margin-top: 15px;
}
.subject-tab{
	margin-top: 15px;
}
.subject-add{
	width: 115px;
	height: 40px;
	border:1px solid #357dcc;
	color: white;
	/*border-radius: 3px;*/
	padding: 9px 16px 9px 34px;
    background: url(/images/schoolbase/+.png) no-repeat 12px 13px;
    background-color: #367ccc;
}
.subject-tab tr th,.subject-tab tr td{
	border:1px solid #d2d2d2;
	text-align: center;
}
.subject-tab tr th{
	background: #e3e3e3;
	height: 55px;
	font-weight: bold;
}
.subject-tab tr td{
	height: 42px;
}
.subject-tab em{
	color: #347eda;
}
.subject-tab tr:nth-child(even) {
    background: #f5f7ff;
}
.term-top{
	margin-top: 15px;
}
.term-top-bu{
	display: inline-block;
    color: #fff;
    border: 1px solid #367ccc;
    /*border-radius: 4px;*/
    cursor: pointer;
    padding: 9px 16px 9px 34px;
    background: url(/images/schoolbase/+.png) no-repeat 12px 13px;
    background-color: #367ccc;
}
.term-top input[type="text"] {
    width: 233px;
    padding-left: 30px;
    height: 40px;
	box-sizing: border-box;
    border: 1px solid #a5a5a5;
    border-right: none;
    background: url(/images/schoolbase/search.png) no-repeat 8px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.term-top input[type="submit"] {
    width: 72px;
    height: 40px;
    background: #367ccc;
    color: #fff;
    border: 1px solid #367ccc;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.term-info-td{
	margin-top: 15px;
}
.term-info-td tr th, .term-info-td tr td{
	text-align: center;
	border:1px solid #d2d2d2;
	font-weight: bold;
}
.term-info-td tr th{
	height: 55px;
    background: #e3e3e3;
}
.term-info-td tr td{
	height: 42px;
}
.term-info-td tr:nth-child(even){
	background: #f5f7ff;
}
.term-info-td tr td em{
	color: #397bc8;
}
.term-add{
	display: none;
	position: fixed;
	width: 440px;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-top: -208px;
	margin-left: -220px;
	background: white;
	border:3px solid #17842e;
	/*border-radius: 3px;*/
	z-index: 9999;
}
.term-add-info dl{
	margin: 0px 75px;
}
.term-add-info dl em{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.term-add-info dl dd select{
	border:1px solid #bdbdbd;
	width: 78px;
	height: 35px;
	border-radius: 0px;
}
.term-add-info dl dd{
	display: inline-block;
	margin-top: 15px;
}
.term-add-info dl dd input{
	border:1px solid #bdbdbd;
	width: 132px;
	height: 35px;
	border-radius: 0px;
    padding-left: 5px;
}
.term-bo{
	margin-top: 55px;
}
.subject-name{
	display: inline-block;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.subject-name-s{
	text-align: justify;
	position: absolute;
	width: 230px;
	min-height: 100px;
	border:1px solid #BDBDBD;
	display: none;
	background: white;
    padding: 10px;
    right: 100px;
	top:-120px;
}
.subject-xq{
	display: none;
	/*display: inline-block;*/
    position: relative;
    top: -4px;
    right: -15px;

}
.subject-an{
	display: none;
	color: #357dc8;
	cursor: pointer;
}
.subject-an:hover + .subject-name-s{
	display: inline-block;
}

.con-top .educa-dc{
	background: url(/images/schoolbase/stu-rl.png) no-repeat 10px 8px;
    background-color: #367ccc;
    margin-left: 25px;
    display: inline-block;
    color: #fff;
    border: 1px solid #367ccc;
    /*border-radius: 4px;*/
    cursor: pointer;
    padding: 9px 16px 9px 34px;
}
.educ-gre,.educ-blo{
    display: inline-block;
    width: 47px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
}
.educ-gre{
	background: #63ca36;
	border: 1px solid #63ca36;
}
.educ-blo{
	background: #f6b44f;
	border: 1px solid #f6b44f;
}
.educa-del-popup{
	display: none;
	position: fixed;
	width: 440px;
	height: 260px;
	top: 50%;
	left: 50%;
	margin-left: -220px;
	margin-top: -130px;
	background: white;
	border: 3px solid #18832e;
	z-index: 999;
}
.educa-info dl{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.educa-info dl dd{
	line-height: 40px;
    margin-bottom: 15px;
}
.educa-y-right{
	float: right;
    margin-top: -50px;
}
.educa-y-right span{
	display: inline-block;
    color: #fff;
    border: 1px solid #367ccc;
    /*border-radius: 4px;*/
    cursor: pointer;
    padding: 9px 16px 9px 34px;
    background: url(/images/schoolbase/+.png) no-repeat 12px 13px;
    background-color: #367ccc;
}
.educa-con{
	margin-top: 20px;
}
.educa-main{
	border-top:1px solid #dbdbdb;
}
.educa-sc-left dl{
    margin: 0px 0px 0px 50px;
}
.educa-sc-left{
	float: left;
}
.educa-sc-left dl dd{
	margin-bottom: 20px;
}
.educa-sc-left dl dd div{
	display: inline-block;
}
.educa-sc-left dl dd em{
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
.educa-sc-left dl dd input{
	border:1px solid #bdbdbd;
	height: 35px;
	text-indent: 0.5em;
}
.educa-in1{
	width: 180px;
	margin-right: 20px;
}
.educa-in2{
	width: 294px;
}
.educa-sc-left dl dd textarea{
	border:1px solid #bdbdbd;
	width: 500px;
	height: 75px;
	resize:none;
	font-family: Microsoft yahei;
}
.educa-in3{
	width: 500px;
}
.educa-sc-left dl dd select{
	border:1px solid #bdbdbd;
	height: 35px;
	width: 113px;
	border-radius: 0px;
	margin-right: 15px;
}
.educa-sc-left dl dd i{
	display: inline-block;
	font-style: normal;
	margin: 0px 5px 0px 5px;
}
.educa-sel select{
	margin-right: 20px;
}
.educa-sc-right {
	float: right;
    width: 170px;
    height: 200px;
    margin-right: 175px;
    margin-top: 28px;
}
.educa-ret button{
	display: inline-block;
    color: #fff;
    border: 1px solid #367ccc;
    cursor: pointer;
    padding: 9px 25px 9px 25px;
    background-color: #367ccc;
    float: right;
    vertical-align: top;
    margin-top: -245px;
}
.educa-sc-right div{
	text-align: center;
}
.educa-sc-right img{
	display: inline-block;
	border:1px solid #bdbdbd;
}
.educa-sc-right span{
	display: inline-block;
	background: url('/images/schoolbase/group-up.jpg') no-repeat 15px 0px;
    width: 140px;
    height: 32px;
    color: #3899d9;
    margin-top: 5px;
    cursor: pointer;

}
.educa-load{
	width: 90px;
    height: 40px;
    border: 1px solid #357dcc;
    color: white;
   /* border-radius: 3px;*/
    padding: 9px 16px 9px 34px;
    background: url(/images/schoolbase/stu-rl.png) no-repeat 12px 10px;
    background-color: #367ccc;
    margin-left: 20px;
}

.subject-top input[type="text"] {
    width: 233px;
    padding-left: 30px;
    height: 40px;
	box-sizing: border-box;
    border: 1px solid #a5a5a5;
    border-right: none;
    background: url(/images/schoolbase/search.png) no-repeat 8px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.subject-top input[type="submit"] {
    width: 72px;
    height: 40px;
    background: #367ccc;
    color: #fff;
    border: 1px solid #367ccc;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.educa-add-popup{
	display: none;
	position: fixed;
	width: 855px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -427.5px;
	background: white;
	border:3px solid #18832e;
	/*border-radius: 3px;*/
	z-index: 9999;
}
.educa-popup-info{
	margin-top: 30px;
}
.educa-popup-left{
	width: 265px;
	float: left;
	margin-left: 25px;
}
.educa-popup-left>span{
	display: inline-block;
	line-height:30px;
}
.educa-popup-left dd{
	margin-bottom: 15px;
}
.educa-popup-left dd em{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.educa-popup-left dd input{
	height: 35px;
	width: 222px;
	border:1px solid #bfbfbf;
}
.educa-popup-left input[type="radio"]{
	width: 15px;
	height: 15px;
}
.educa-popup-left dd i{
	font-style: normal;
	margin-right: 15px;
	margin-left: 5px;
}
.group-list {
	float: right;
    width: 560px;
    height: 315px;
    border: 1px solid #bebebe;
}
.group-list-top {
    height: 30px;
    line-height: 30px;
    background: #e6f0ff;
}
.educa-popup-right{
	float: right;
    width: 560px;
    margin-top: -7px;
}
.educa-popup-right .div-3{
	width: 500px;
}
.educa-popup-right .member-select a{
	height: 28px;
    line-height: 28px;
    padding: 0 2px;
    cursor: pointer;
}
.educa-popup-right .myList{
	height: 300px;
	overflow-y:auto;
}
.educa-popup-info .add-bo{
	clear: both;
    width: 100%;
    margin-top: 15px;
    display: inline-block;
}

.classedit-alert .alert-main,.termedit-alert .alert-main,.tableedit-alert .alert-main,.addsubject-alert .alert-main,.stu-edit .alert-main,.teachange-alert .alert-main,.addtable-alert .alert-main,.addjxl-alert .alert-main,.addjs-alert .alert-main,.history-alert .alert-main,.addgrade-alert .alert-main,.edit-room .alert-main{
	padding-top: 25px;
	text-align: center;
}
.addteacher-alert .alert-main{
	padding: 15px 15px 0 15px;
}
.alert-main .add-div{
	margin-bottom: 10px;
}
.add-div .add-name{
	display: inline-block;
	width: 5em;
	margin-right: 15px;
	font-weight: bold;
	text-align: left;
}
.add-div input[type="text"]{
	width: 250px;
	height: 33px;
	border:1px solid #dbdbdb;
	padding-left: 5px;
}
.add-div select{
	width: 250px;
	height: 35px;
	border:1px solid #dbdbdb;
	padding-left: 5px;
}
.time-select input.Wdate{
	width: 118px !important;
}
.jsl-select ul li{
	float: left;
	width: 53px;
	text-align: center;
	margin: 0 15px 15px 0;
	position: relative;
	cursor: pointer;
}
.jsl-select ul{
	padding: 10px 10px 0 10px;
	border: 1px solid #dbdbdb;
}
.jsl-select ul li img.jsl-img{
	width: 53px;
	height: 53px;
}
.jsl-select ul li span{
	display: inline-block;
	width: 53px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.addjs-alert .add-div .add-name{
	width: 2em !important;
}
.hide-img{
	position: absolute;
	top: -8px;
	right: -8px;
	display: none;
}
li.liselect img.hide-img{
	display: inline-block;
}
.history-alert .add-div textarea{
	width: 245px;
	height: 80px;
	padding: 5px;
	border:1px solid #dbdbdb;
}
.history-alert .add-div  span.vertival-top{
	vertical-align: top;
}
.grade-popup-info .newTable td>input[type="text"]{
	width: 80%;
	height: 30px;
	border:none;
	text-align: center;
}
.grade-popup-info .newTable td>input[type="text"]:hover{
	border: 1px solid #dbdbdb;
}
.addgrade-alert .add-div .Wdate{
	width: 250px !important;
}
.td-position{
	position: relative;
}
.td-position .hide-tea{
	display: none;
	position: absolute;
	padding: 5px;
	border: 1px solid #dbdbdb;
	width: 200px;
	top:30px;
	left: -150px;
	background: #fff;
	text-align: left;
}
.return-div{
	height: 40px;
	line-height: 40px;
}
.return-div img{
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 2px;
}
.subject-tab .grade-edit{
	margin-right: 10px;
	cursor: pointer;
}
.hide-edit{
	display: none;
}
.con-top .add-teacher,.con-top .btn-save{
	margin: 0 15px !important;
}
.per-inf .alert-div .type-name{
	width: 4em !important;
	text-align: left;
	margin-right: 10px; 
}
.addteacher-alert .add-div select{
	width: 100px !important;
}
.addteacher-alert .con-top input[type="text"]{
	width: 130px !important;
}
.addteacher-alert .add-div .add-name{
	width: 3em;
	margin-right: 0px !important;
}
.addteacher-alert .con-top{
	margin: 0 0 3px 0px; !important;
	vertical-align: middle;
}
.addteacher-alert .table-wrap{
	max-height: 300px;
	overflow-y:auto;
}
.addteacher-alert select{
	height: 30px !important;
}
.addteacher-alert input[type="text"]{
	height: 30px !important;
	background-position: 8px 7px;
}
.addteacher-alert input[type="submit"]{
	height: 30px !important;
	line-height: 28px;
}
/*添加角色弹窗*/
.popup-addr{
	display: none;
	position: fixed;
	width: 534px;
	height: 440px;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -267px;
	background: white;
	border:3px solid #2266c2;
	/*border-radius: 3px;*/
	z-index: 9999999999
}
.popup-addr-top{
	height: 50px;
	line-height: 50px;
	background: #e6e6e6;
	color: black;
}
.popup-addr-top em, .popup-addr-top i {
	margin: 15px;
	font-size: 15px;
}
.popup-addr-top i {
	float: right;
	background: url('/images/schoolbase/close-n.png') no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.popup-addr-info dl {
	margin: 20px 30px;
}
.popup-addr-info dl dd{
	margin: 10px 0px;
}
.popu-addr-q em{
	display: inline-block!important;
}
.popup-addr-info dd>div>em{
	display: inline-block;
	width: 6em;
	text-align: right;
	margin-right: 10px;
}

.popup-addr-in input{
	width: 320px;
	height: 28px;
	border:1px solid #bebebe;
}
.popup-addr-te em{
	vertical-align: top;
}
.popup-b-qun .popup-addr-te textarea{
	width: 320px;
	height: 95px;
	border:1px solid #bebebe;
}
.popup-addr-te textarea{
	width: 320px;
	height: 44px;
	border:1px solid #bebebe;
}
.popup-addr-li span{
	display: inline-block;
	width: 80px;
	margin-bottom: 10px;
}
.popup-addr-li span>input[type="checkbox"]{
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 4px;
}
.popup-addr-bn{
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
.popup-addr-bn2 input[type="text"]{
	width: 55px;
	padding-left: 5px;
	height: 30px;
	border: 1px solid #dbdbdb;
	text-align: left;
}
.td-left{
	text-align: left;
}
.subject-tab .grade-edit{
	float: right;
}
#treeDemo{
	height: 318px;
	border: 1px solid #dbdbdb;
	overflow-y: auto;
}
.ul-select li{
	float: left;
}
.ul-select li{
	padding-bottom: 8px;
	border-bottom:3px solid #fff;
	margin-right: 20px;
	float: left;
	cursor: pointer;
}
.ul-select li.select-cur{
	border-bottom: 3px solid #c94d16;
	color: #c94d16;
}
.stu-add-info dl>dd>em{
	display: inline-block;
	width: 4em;
	text-align: right;
	margin-right: 10px;
}
.subject-ck {
	cursor: pointer;
}


/**分页*/
.pageDiv{padding: 15px 0px;text-align: right;color: #ccc;clear: both;}
.pageDiv a{display: inline-block;color: #4c4c4c;background: #f6fbf9;display: inline-block;height: 25px;	line-height: 25px;	padding: 3px 18px;border: 1px solid #ddd;	margin: 0 2px;vertical-align: middle;font-size: 14px;}
.pageDiv a:hover{text-decoration: none;border: 1px solid #428bca;}
.pageDiv span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 18px;margin: 0 2px;color: #ed601b;border-radius: 4px;vertical-align: middle;}
.pageDiv span.disabled{display: inline-block;height: 25px;line-height: 25px;padding: 3px 18px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;vertical-align: middle;}
.pageDiv span.pagecount{padding: 0 10px;font-size: 14px;color: #999999;margin-right: -30px;}
.pageDiv span.countYe{color: #4C4C4C;font-size: 14px;margin-left: 30px;}
.pageDiv span.countYe input{outline: none;border: 1px solid #ddd;height: 25px;padding: 3px 10px;width: 25px;margin: 0 5px;}
.pageDiv a.turndown{padding: 3px 10px;}


.pageDiv2{padding: 15px 20px;text-align: right;color: #ccc;clear: both;}
.pageDiv2 a{display: inline-block;color: #4c4c4c;background: #f6fbf9;display: inline-block;height: 25px;	line-height: 25px;	padding: 3px 18px;border: 1px solid #ddd;	margin: 0 2px;vertical-align: middle;font-size: 14px;}
.pageDiv2 a:hover{text-decoration: none;border: 1px solid #428bca;}
.pageDiv2 span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 18px;margin: 0 2px;color: #ed601b;border-radius: 4px;vertical-align: middle;}
.pageDiv2 span.disabled{display: inline-block;height: 25px;line-height: 25px;padding: 3px 18px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;vertical-align: middle;}
.pageDiv2 span.pagecount{padding: 0 10px;font-size: 14px;color: #999999;margin-right: -30px;}
.pageDiv2 span.countYe{color: #4C4C4C;font-size: 14px;margin-left: 30px;}
.pageDiv2 span.countYe input{outline: none;border: 1px solid #ddd;height: 25px;padding: 3px 10px;width: 25px;margin: 0 5px;}
.pageDiv2 a.turndown{padding: 3px 10px;}
.btn-addT{
	position: absolute;
	right: -36px;
	top: -13px;
	width: 90px;
	height: 30px;
	background: #367ccc;
	color: #fff;
	border:none;
}
.btn-delT{
	position: absolute;
	right: -139px;
	top: -13px;
	width: 90px;
	height: 30px;
	background: #ff5f5b;
	color: #fff;
	border:none;
}
.btn-delY{
	display: none;
	position: absolute;
	right: -36px;
	top: -13px;
	width: 90px;
	height: 30px;
	background: #ff5f5b;
	color: #fff;
	border:none;
}
.btn-delN{
	display: none;
	position: absolute;
	right: -139px;
	top: -13px;
	width: 90px;
	height: 30px;
	background: #999;
	color: #fff;
	border:none;
}

.div-2 .head-list li .sp-sel{
	position: absolute;
	top: -7px;
	right: -11px;
	width: 17px;
	height: 17px;
	background: url('/images/schoolbase/group-rg.png');
	display: none;
	transition:all .3s;
}
.liDel .sp-sel{
	display: block !important;
}
.sp-sel-show{
	display: block !important;
}
#picuploadLoading {
	position: absolute;
	left: 265px;
	top: 15px;
	display: none;
}
.grade-popup-info{
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden
}
.subject-edit{
    margin-right: 10px;
}
#s2id_autogen1{
	width: 250px !important;
	margin-left: 0 !important;
}
.addbw-alert .div-3{
	height: 400px;
	overflow-y: auto;
}
.closeType{
	cursor: pointer;
}
.alert-main2{
	display: inline-block;
	margin-top: 48px;
	margin-bottom: 15px;
}
.alert-main2 li{
	margin: 5px 0px 5px 10px;

}
.alert-main2 li input{
	width: 255px;
	height: 32px;
    text-indent: 4px;
	border: 1px solid #c3c3c3;
}
.jslxsz-alert{
	min-height: 225px;
}
.sel-cr{
    width: 146px;
    height: 33px;
    margin-right: 25px;
    padding-left: 5px;
    height: 35px;
    border: 1px solid #dbdbdb;
}
.green-nav{
	height: 67px;
	border-bottom: 1px solid #D2D2D2;
}
.green-nav span{
	float: left;
	margin: 24px 12px 0 24px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	font-size: 17px;
}
.green-nav span.active{
	border-bottom: 3px solid #17842E;
	font-weight: bold;
}
.new-set{
	float: right;
	width: 78px;
	height: 32px;
	border-radius: 4px;
	background: #fff;
	color: #3C689F;
	border:1px solid #3C689F;
	margin: 20px 0;
}
.setting-tab{
	width: 100%;
}
.setting-tab th{
	height: 55px;
	border:1px solid #D3D3D3;
	background: #E3E3E3;
}
.setting-tab td em{
	color: #399BD3;
	cursor: pointer;
}
.setting-tab td{
	height: 40px;
	border:1px solid #D3D3D3;
	text-align: center;
}
.setting-tab tbody tr:nth-child(odd){
	background: #F5F7FF;
}
.setting-cont .d2{
	text-align: center;
	line-height: 170px;
}
.setting-cont .d2 select{
	width: 192px;
	height: 33px;
	border:1px solid #BEBEBE;
	margin-left: 6px;
}
/*select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-right: 16px;
	background: #fff url(/images/schoolbase/select_bg.png) no-repeat 95% center;
}*/
.new-manager{
	width: 300px;
}
.new-manager p{
	height: 30px;
	margin:15px 0 5px;
	line-height: 30px;
}
.new-manager p span{
	float: left;
	width: 90px;
	text-align: right;
	margin-right: 10px;
}
.new-manager p input{
	float: left;
	width: 140px;
	height: 28px;
	border:1px solid #D2D2D2;
}
.new-manager p select{
	float: left;
	width: 142px;
	height: 30px;
	border:1px solid #D2D2D2;
}
.rtop{
	height: 70px;
	line-height: 100px;
	font-size: 16px;
	text-indent: 10px;
}
.rtop .btn1{
	float: right;
	width: 104px;
	height: 40px;
	line-height: 40px;
	padding-left: 17px;
	background: #367DCC url(/images/schoolbase/+.png) no-repeat 15px 13px;
	color: #fff;
	border:none;
	margin: 20px 0 0 15px;
	border-radius: 4px;
}
.rtop .btn2{
	float: right;
	width: 65px;
	height: 40px;
	line-height: 40px;
	background: #D2D2D2;
	color: #333;
	border:none;
	margin: 20px 0 0 15px;
	border-radius: 4px;
}
.organ-cont{
	border:1px solid #D2D2D2;
	min-height: 600px;
	overflow: hidden;
}
.ztree li span.button.add{
	display: block;
	width: 20px;
	height: 20px;
	background: url(/images/schoolbase/add.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	right: -20px;
	top: 0;
}
.ztree li span.button.edit{
	display: block;
	width: 20px;
	height: 20px;
	background: url(/images/schoolbase/pen_blue.png) no-repeat center center;
	position: absolute;
	right: -40px;
	top: 0;
}
.ztree li span.button.remove{
	display: block;
	width: 20px;
	height: 20px;
	background: url(/images/schoolbase/blue-x.png);
	position: absolute;
	right: -60px;
	top: 0;

}
.votop{
	height: 50px;
	line-height: 55px;
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: 15px;
}
.votop span i{
	font-size: 16px;
	color: #FD5500;
}
.votop em{
	float: right;
	color: #367CCD;
	margin-left: 15px;
	cursor: pointer;
}
.alert-main2{
	width: 479px;
	margin:0 auto;
}
.ul-jwc li{
	width: 68px;
	height: 89px;
	float: left;
	margin-right: 5px;
	text-align: center;
	position: relative;
}
.ul-jwc li i{
	display: block;
	width: 23px;
	height: 23px;
	background: url(/images/schoolbase/hg.png);
	position: absolute;
	right: 0px;
	top: -13px;
	z-index: -1;
	cursor: pointer;
}
.ul-jwc li>img{
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 100%;
}
.ul-jwc li>span{
	display: block;
	height: 20px;
	line-height:20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.spli{
	padding-top: 15px;
	padding-right: 30px;
}
.opti{
	position: absolute;
	height: 35px;
	width: 100%;
	bottom: -25px;
}
.opti span{
	float: right;
	width: 30px;
	max-width: 40%;
	height: 19px;
	margin: 15px 0 0 5%;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
}
.opti span.sp1{
	background-image: url(/images/schoolbase/eye_blue.png);
}
.opti span.sp2{
	background-image: url(/images/schoolbase/pen_blue.png);
}
.orgchart .node>input{
	position: absolute;
	width: 90%;
	left:5%;
	top: 4px;
	height: 24px;
	border:1px solid #dcdcdc;
	border-radius: 4px;
	text-indent: 3px;
}
.edge{
	display: none;
}
.new-node{
	width: 216px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	text-indent: 6px;
}
.view-state{
	display: none;
}
#chart-container{
	overflow: visible !important;
}
li.sel-bg{
	background:url(/images/evaluation/group-rg.png) 50px -4px  no-repeat;
}

.addjwc-alert{
	width: 515px;
	transform: translate(-50%,-50%);
	border: 3px solid #17832e;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 999;
	background: #fff;
}
.alert-main2 {
	display: block;
}
.set-popup, .set-access, .newadd-evaitem {
	display: none;
	position: fixed;
	width: 905px;
	height: 556px;
	top: 30px;
	left: 50%;
	margin-left: -452.5px;
	background: white;
	border: 3px solid #17832e;
	z-index: 999;
}
.set-popup-f {
	height: 55px;
	line-height: 55px;
	background: #dfdfdf;
}
.set-popup-f em {
	margin-left: 15px;
	font-size: 16px;
}
.set-popup-f i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/images/extensionClass/eva-close.png) no-repeat;
	float: right;
	margin: 15px;
	cursor: pointer;
}
.set-popup-top {
	height: 55px;
	line-height: 55px;
	padding-left: 25px;
	clear: both;
}
.set-popup-top span {
	margin-right: 28px;
}
.set-popup-top {
	height: 55px;
	line-height: 55px;
	padding-left: 25px;
	clear: both;
}
.set-ls input {
	margin-right: 5px;
}
.set-list {
	width: 850px;
	height: 315px;
	border: 1px solid #bebebe;
	margin-left: 25px;
	float: left;
}
.set-list-top {
	height: 30px;
	line-height: 30px;
	background: #e6f0ff;
}
.ln-letters {
	padding-left: 15px;
	word-break: break-all;
}
.ln-letter-count {
	display: none!important;
}
.myList {
	height: 285px;
	overflow-y: auto;
}
.myList li {
	float: left;
	width: 65px;
	height: 65px;
	margin: 12px 4px;
	text-align: center;
	cursor: pointer;
	border: 1px solid white;
}
.myList li>img {
	display: block;
	margin: 0px 8px;
	border-radius: 50%;
}
.myList li {
	float: left;
	width: 65px;
	height: 65px;
	margin: 12px 4px;
	text-align: center;
	cursor: pointer;
	border: 1px solid white;
}
.ln-letters a {
	margin: 0 5px;
}
.set-popup-top>button {
	width: 80px;
	height: 36px;
	line-height: 36px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	margin: 8px 29px 8px 0px;
	float: right;
	font-family: Microsoft YaHei;
}
.set-popup-top .set-bc, .set-bct {
	border: 1px solid #3d67a0;
	background: #3d67a0;
}
.set-popup-top .set-qx, .set-qxt {
	border: 1px solid #dfdfdf;
	background: #dfdfdf;
	color: black;
}
.set-popup-bttom {
	text-align: center;
	width: 550px;
	padding-top: 15px;
}
.educa-add-popup .educa-popup-right .member-select a{
	margin:0 1px !important;
}
.sediv{
	height:40px;
	width:139px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	line-height:40px;
}
.list-num{
	display: inline-block;
	width: 10px;
	float: right;
	margin-right: 10px;
}
.list-num i{
	font-style: normal;
	display:inline-block;
	border:1px solid #b5b5b5;
	cursor: pointer;
	width: 15px;
	height:15px;
	text-align: center;
	line-height:15px;
	margin: 2px 0px;
}
.right-top1{
	height: 40px;
	margin:16px 0 15px;
	line-height: 40px;
}
.right-top1 input[type="submit"] {
	width: 72px;
	height: 40px;
	background: #367ccc;
	color: #fff;
	border: 1px solid #367ccc;
	line-height: 36px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	margin-left: -4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.right-top1 input[type="text"] {
	width: 233px;
	padding-left: 30px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #a5a5a5;
	border-right: none;
	background: url(/images/schoolbase/search.png) no-repeat 8px 10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.right-top1 .btn-inset{
	width:93px;
	height:40px;
	border:none;
	border-radius: 3px;
	background: #367DCC;
	color:#fff;
}
.right-top1 .btn-inset,.btn-addinset,.btn-dao{
	width:93px;
	height:40px;
	border:none;
	border-radius: 3px;
	background: #367DCC;
	color:#fff;
}
.right-top1 .btn-plgg{
	width:93px;
	height:40px;
	border:1px solid #C6C6C6;
	border-radius: 3px;
	background: #E9E9E9;
	color:#333;
	margin:0 20px;
}
.tab-infos em{
	cursor: pointer;
	color: #397bc8;
	margin:0 10px;
}
.wind{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 430px;
	min-height: 100px;
	background: #fff;
	z-index: 100;
	border:3px solid #17842E;
	transform:translate(-50%,-50%);
}
.wind .d1{
	height:47px;
	background: #E6E6E6;
	line-height: 47px;
	text-indent: 10px;
}
.wind .d1 em{
	float: right;
	font-size: 25px;
	height:47px;
	line-height: 47px;
	margin-right: 10px;
	cursor: pointer;
}
.ul-info li{
	height:36px;
	margin-top: 25px;
	line-height: 36px;
}
.ul-info li input[type=text]{
	float: left;
	width:179px;
	text-indent: 5px;
	height: 35px;
	border:1px solid #bbb;
}
.ul-info li input[type=password]{
	float: left;
	width:179px;
	text-indent: 5px;
	height: 35px;
	border:1px solid #bbb;
}
.ul-info li span{
	float: left;
	line-height: 35px;
	width: 126px;
	text-align: right;
	margin-right: 10px;
}
.ul-info li label input{
	position: relative;
	top: 2px;
	margin-right: 4px;
}
.ul-info li label{
	float: left;
	width: 58px;
	height:35px;
	line-height: 35px;
	cursor: pointer;
}
.ul-info li select{
	width: 179px;
	height:35px;
	border:1px solid #BEBEBE;
}
.wind .btns{
	height:36px;
	margin:35px 0 35px;
	text-align: center;
}
.wind .btns .btn-ok{
	width: 85px;
	height:36px;
	background: #367DCC;
	color:#fff;
	border:none;
	border-radius: 4px;
	margin:0 10px;
}
.wind .btns .btn-no{
	width: 85px;
	margin:0 10px;
	height:36px;
	background: #E4E4E4;
	border-radius: 4px;
	color:#666;
	border:1px solid #bfbfbf;
}
.cd2 .d1{
	height:70px;
	line-height: 70px;
}
.cd2 .d2>div{
	line-height: 28px;
}
.cd2 .d2>div>span{
	float: left;
	font-weight: bold;
}
.cd2 .d2>div>em{
	float: left;
	width:28px;
	height:28px;
	background: #aaa;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	border-radius: 100%;
	margin-right: 15px;
}
.cd2 .d2{
	padding-left:80px;
}
.cd2 .d1 em{
	font-size:16px;
}
.cd2 .sp-file{
	float: left;
	width: 92px;
	height:40px;
	background: #367ccc;
	color: #fff;
	border-radius: 4px;
	position: relative;
	text-align: center;
	line-height: 40px;
	margin-left: 43px;
	font-weight: normal !important;
}
.cd2 .sp-down{
	float: left;
	color: #367ccc;
	line-height: 40px;
	height:40px;
	margin-left: 20px;
	font-weight: normal !important;
	cursor: pointer;
}
.cd2 .d2>div>span.file-name{
	line-height: 40px;
	margin-left: 13px;
}
.cd2 .sp-file input{
	position: absolute;
	opacity: 0;
	width:92px;
	height:40px;
	top:0;
	left:0;
	cursor: pointer;
}
.cd2 .mg10{
	margin:10px 0;
}
.cd2 .step2{
	float: left;
	margin-left: 15px;
}
.cd2 .d2{
	margin:10px 0 30px 0;
}
.cd2 .dd1 input{
	position: relative;
	top:2px;
	margin:0 5px 0 10px;
}
.cd2 .dd1{
	height: 30px;
	font-weight: bold;
	line-height: 30px;
}
.cd2 .dd2 input {
	width: 91px;
	text-indent: 4px;
	height:39px;
	border:1px solid #ccc;
	margin:0 15px;
}
.cd2 .dd2{
	height:40px;
	padding-left: 12px;
	margin:15px 0;
}
.cd2 .dd2 span{
	color: #FD7524;
}
.cd2 .btn-yj{
	height: 40px;
	margin:20px 0;
	padding-left: 44px;
}
.cd2 .btn-yj button{
	width: 93px;
	height: 40px;
	background: #2AB548;
	color: #fff;
	border-radius: 3px;
	border:none;
}
.cd2 .p-xg{
	height: 30px;
	margin:10px 44px;
	color: #999;
}
.cd2 .tab-zh{
	width: 752px;
	margin:0 0 30px 44px;
	border:1px solid #ccc;
}
.cd2 .tab-zh th{
	height: 33px;
	background: #EFEFEF;
}
.cd2 .tab-zh td span{
	background: #FFF196;
	padding:2px 8px;
}
.cd2 .tab-zh td{
	height: 39px;
	text-align: center;
}
.cd2 .tab-zh tbody tr:nth-child(even){
	background: #EBF5FF;
}
i{
	font-style: normal;
}
.cd2 .d1>i{
	cursor: pointer;
}
.jssel{
	float: left;
	width:130px;
	height: 40px;
	border:1px solid #dcdcdc;
}