html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none;text-indent: 0.5em;font-family:Microsoft yahei}
textarea{resize: none;outline: none;font-family:Microsoft yahei;padding:5px}
select{outline: none;font-family: Microsoft yahei;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:black; font-family: Microsoft yahei}
::-moz-placeholder { color:black; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:black; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:black; font-family: Microsoft yahei}


.fl{
    float: left;
}
.fr{
    float: right;
}


/****************头部样式*******************/
.header {
    height: 90px;
    width: 100%;
    min-width: 1200px;
    background:#5851db;
}
.head-cont {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 90px;
}
.head-cont>img {
    float: left;
    margin-top: 32px;
}
.top-nav {
    float: left;
    margin-left: 150px;
}
.top-nav>a {
    float: left;
    width: 105px;
    height: 90px;
    line-height: 140px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.top-nav>a.active {
    background-color: #4740d0;
}
/*.top-nav>.a1{background: url('/static_new/images/new33/nav1.png') no-repeat center 16px;}*/
/*.top-nav>.a2{background: url('/static_new/images/new33/nav2.png') no-repeat center 16px;}*/
/*.top-nav>.a3{background: url('/static_new/images/new33/nav3.png') no-repeat center 16px;}*/
.top-nav>.a10{background: url('/static_new/images/new33/nav10.png') no-repeat center 20px;}
.top-nav>.a5 {
    background: url(/static_new/images/new33/nav5.png) no-repeat center 20px;
}
.top-nav>.a3{background: url('/static_new/images/new33/nav3.png') no-repeat center 20px;}
.f12{
    font-size: 12px;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
.mt30{
    margin-top: 30px;
}
.mt20{
    margin-top: 20px;
}
.mb35{
    margin-bottom: 35px;
}
.c00{
    color: black;
}
.f18{
    font-size: 18px;
}
.sel1{
    width: 173px;
    height: 40px;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
}
.btn1{
    height: 40px;
    width: 74px;
    background: #f48f49;
    color: white;
    border-radius: 4px;
}
.btn2{
    height: 40px;
    width: 74px;
    background: #2e94db;
    color: white;
    border-radius: 4px;
}
.btn3{
    height: 40px;
    width: 130px;
    background: #1ab02f;
    color: white;
    border-radius: 4px;
}
.ml5{
    margin-left: 5px;
}
.tabSty tr th{
    background: #3CB371;
    border:1px solid white;
    border-bottom: none;
    color: white;
    width: 150px;
    height: 40px;
}
.tabSty tr td{
    position: relative;
    width: 150px;
    height: 85px;
    text-align: center;
    border:1px solid #dfdfdf;
    font-size: 12px;
}
.tabSty tr td:first-child{
    border:1px solid white;
    color: white;
    background: #3CB371;
}
.tabSty1 tr th{
    background: #3CB371;
    border:1px solid white;
    border-bottom: none;
    color: white;
    width: 115px;
    height: 40px;
}
.tabSty1 tr td{
    width: 150px;
    height: 85px;
    text-align: center;
    border:1px solid #dfdfdf;
    font-size: 12px;
}
.tabSty1 tr td:first-child{
    border:1px solid white;
    color: white;
    background: #3CB371;
}
.cRed{
    color: red;
}
.w225{
    width: 225px;
}
.sel2{
    width: 225px;
    height: 40px;
    border:1px solid #dfdfdf;
}
.ulSty{
    height: 625px;
    width: 225px;
    border: 1px solid #dcdcdc;
    overflow-y: auto;
}
.ulSty li{
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}
.ulSty li:hover{
    background: #3CB371;
    color: white;
}
.ulSty li span{
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
}
.w4{
    width: 4em;
}
.ulSty .cur{
    background: #3CB371;
    color: white;
}
.w940{
    width: 940px;
}
.btn4{
    height: 40px;
    width: 110px;
    background: #f48f49;
    color: white;
    border-radius: 4px;
}
.btn5{
    height: 40px;
    width: 110px;
    background: #2e94db;
    color: white;
    border-radius: 4px;
}
.btn6{
    height: 40px;
    width: 110px;
    background: #2e94db;
    color: white;
    border-radius: 4px;
}
.btn7{
    height: 40px;
    width: 110px;
    background: #1ab02f;
    color: white;
    border-radius: 4px;
}
.ulSty1{
    display: inline-block;
    vertical-align: top;
}
.ulSty1 li{
    width: 100px;
    height: 38px;
    border:1px solid #f48f49;
    background: white;
    color: black;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#tab-cq{
    display: none;
}
.ulSty1 li:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ulSty1 li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ulSty1 .liCur{
    background: #f48f49;
    color: white;
}

.popup {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    z-index: 999999;
}

.stu-popup {
    display: none;
    width: 510px;
    height: 255px;
    margin-top: -127.5px;
    margin-left: -255px;
}

.popup-top {
    height: 45px;
    line-height: 45px;
    background: #5851db;
}

.popup-top em {
    color: white;
    margin-left: 14px;
}

.popup-top i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('/static_new/images/new33/close.png') no-repeat;
    margin: 14px;
    cursor: pointer;
}

.inp1 {
    width: 260px;
    height: 38px;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
}

.popup-dl {
    color: black;
}

.popup-dl dd {
    margin: 25px 0px 0px 40px;
}

.popup-dl dd span {
    margin-right: 30px;
}

.popup-btn {
    text-align: center;
}

.popup-btn button {
    width: 78px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 10px;
}

.qd {
    background: #5851db;
    border: 1px solid #5851db;
    color: white;
}

.qx {
    background: #e6e6e6;
    border: 1px solid #a7a7a7;
    color: #a7a7a7;
}
.z-popup{
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
}
.wu-popup{
    top:10px!important;
    display: none;
    width: 700px;
    min-height: 500px;
    margin-left:-350px;
}
.z-popup{
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
}
.zbtn1{
    width: 170px;
    height: 40px;
    border-radius: 3px;
    background: #1ab02f;
    border: 1px solid #1ab02f;
    color: white;
}
.zbtn2{
    width: 170px;
    height: 40px;
    border-radius: 3px;
    background: #2e94db;
    border: 1px solid #2e94db;
    color: white;
}
.dct{
    text-align: center;
    margin-top: 20px;
}
.you-popup{
    top:10px!important;
    display: none;
    width: 700px;
    min-height: 500px;
    margin-left:-350px;
}
.wuUl{
    margin: 20px 0px 0px 25px;
}
.sel30{
    width: 138px;
    height: 28px;
    border:1px solid #dfdfdf;
}
.sel162{
    width: 162px;
    height: 28px;
    border:1px solid #dfdfdf;
}
.mrl10{
    margin: 0px 10px;
}
.wuTab{
    margin-top: 10px;
}
.wuTab tr th{
    background:#3CB371 !important;
    color: white;
}
.wuTab tr th,.wuTab tr td{
    width: 45px;
    height: 30px;
    min-width: 45px;
    border:1px solid #dfdfdf;
}
.wuTab tr td{
    position: relative;
}
.wuTab tr td .tii{
    width: 40px;
    height: 30px;
    top: 0px;
    right: 0px;
    background-position: 8px 3px;
    cursor: pointer;
}

.wTab{
    margin-top: 10px;
}
.wTab tr th{
    background:#3CB371 !important;
    color: white;
}
.wTab tr th,.wTab tr td{
    width: 45px;
    height: 30px;
    min-width: 45px;
    border:1px solid #dfdfdf;
}
.wTab tr td{
    position: relative;
}
.wTab tr td .tii1{
    width: 40px;
    height: 30px;
    top: 0px;
    right: 0px;
    background-position: 8px 3px;
    cursor: pointer;
}
.tii1 {
    position: absolute;
    top: -7px;
    right: -7px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/static_new/images/new33/jxb/right.png)no-repeat;
}



.tii {
    position: absolute;
    top: -7px;
    right: -7px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/static_new/images/new33/jxb/right.png)no-repeat;
}
.wult{
    margin: 10px 0px 0px 25px;
}
.wuLeft{
    border: 1px solid #dfdfdf;
    width: 200px;
    height: 310px;
    overflow-y: auto;
}
.wuLeft li{
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    padding-left: 10px;
}
.wuLeft li:hover{
    background: #3CB371;
    color: white;
}
.mt10 {
    margin-top: 10px;
}
.popup-btn button {
    width: 78px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 10px;
}
.popup-btn {
    text-align: center;
}
.wuLi{
    background: #3CB371;
    color: white;
}
.sel6 {
    width: 150px;
    height: 42px;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
}
.newGz{
    width: 120px;
    height: 42px;
    border:1px solid #5851db;
    background: #5851db;
    color: white;
    border-radius: 5px;
}
.ha420{
    width: 1210px;
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}
.gz-popup{
    display: none;
    width:930px;
    height: 550px;
    margin-left: -465px;
    margin-top: -275px;
}
.pTabfl{
    width: 405px;
}
.pTabfl th {
    background: #3CB371 !important;
    font-weight: bold;
    color: #fff;
    border:1px solid white;
    border-bottom: none;
}
.pTabfl th,.pTabfl td{
    height: 40px;
    text-align: center;
}
.pTabfl td{
    border:1px solid #dcdcdc;
}
.pTabfl td:first-child {
    background: #3CB371;
    font-weight: bold;
    color: #fff;
    border:1px solid white;
}
.tpopup{
    width: 1055px;
    height: 485px;
    margin-left: -527.5px;
    margin-top: -242.5px;
}
.ml30 {
    margin-left: 30px;
}
.w620 {
    width: 620px!important;
}
.ss-dv {
    width: 495px;
    height: 350px;
    margin-top: 10px;
}
.ss-dv tr th, .ss-dv tr td {
    border: 1px solid #dfdfdf;
    height: 40px;
    text-align: center;
    width:110px;
}
.ss-dv tr th {
    background: #ededed;
}
.w610 {
    width: 1000px!important;
}
.h310 {
    height: 310px;
}
.autoo {
    overflow-y: auto;
    overflow-x: hidden;
}
/*±³¾°²ã*/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

.shenQ{
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/static_new/images/new33/shen.png)no-repeat;
    left: 1px;
    top: 1px;
    background-size: 20px;
}
.juQ{
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/static_new/images/new33/ju.png)no-repeat;
    left: 1px;
    top: 1px;
    background-size: 20px;
}
.tiaoQ{
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/static_new/images/new33/tiao.png)no-repeat;
    left: 1px;
    top: 1px;
    background-size: 20px;
}
.daiQ{
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/static_new/images/new33/dai.png)no-repeat;
    left: 1px;
    top: 1px;
    background-size: 20px;
}
.c6f {
    color: #4d77ba!important;
    cursor: pointer;
}
.w110{
    width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}