html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none;text-indent: 0.5em;font-family:Microsoft yahei}
textarea{resize: none;outline: none;font-family:Microsoft yahei;padding:5px}
select{outline: none;font-family: Microsoft yahei;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:black; font-family: Microsoft yahei}
::-moz-placeholder { color:black; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:black; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:black; font-family: Microsoft yahei}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w1300 {
    width: 1300px!important;
}
.center {
    width: 1200px;
    margin: 0 auto;
}
.mt20 {
    margin-top: 20px;
}
.sel1{
    width: 173px;
    height: 38px;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
}
.ml10{
    margin-left: 10px;
}
.btn{
    height: 41px;
    padding: 0 23px;
    border-radius: 4px;
    color: #fff;
    margin-right: 10px;
}
.b1{
    background: #f77737;
}
.b2{
    background: #6f69d6;
}
.b3{
    background: #6f69d6;
}
.vt15{
    vertical-align: top;
    margin-top: 15px;
    margin-right: 5px;
}
.mb35{
    margin-bottom: 35px;
}
.tabSty tr th, .tabSty tr td {
    text-align: center;
    border: 1px solid #969696;
    height: 40px;
}
.tabSty tr th {
    background: #ededed;
    color: black;
    border-bottom: none !important;
}
.inline{
    display: inline-block;
}
.rg{
    width: 21px;
    height: 21px;
    background: url('/static_new/images/new33/jxb/right.png')no-repeat;
}
.c6f{
    color: #4d77ba!important;
}
.ptr{
    cursor: pointer;
}
.popup {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    z-index: 999999;
}
.popup-top {
    height: 45px;
    line-height: 45px;
    background: #5851db;
}
.popup-top em {
    color: white;
    margin-left: 14px;
}
.popup-top i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('/static_new/images/new33/jxb/close.png') no-repeat;
    margin: 14px;
    cursor: pointer;
}
.popup-btn {
    text-align: center;
}
.mb35 {
    margin-bottom: 35px;
}
.popup-btn button {
    width: 78px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 10px;
}
.qd {
    background: #5851db;
    border: 1px solid #5851db;
    color: white;
}
.qx {
    background: #e6e6e6;
    border: 1px solid #a7a7a7;
    color: #a7a7a7;
}
.pb-popup{
    display: none;
    width: 545px;
    max-height: 370px;
    margin-left: -272.5px;
    margin-top: -185px;
}
.pbUl ul{
    margin-left: 95px;
}
.pbUl ul li{
    position: relative;
    float: left;
    width: 115px;
    height: 60px;
    background: white;
    border:1px solid #50b97c;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}
.pbUl ul li span{
    display: block;
    margin-top: 7px;
   /* margin-left: 5px;*/
}
.pbUl ul li .none{
    display: none;
}
.tii{
    position: absolute;
    top: -7px;
    right: -7px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/static_new/images/new33/jxb/right.png')no-repeat;
}
.tjj{
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('/static_new/images/new33/jxb/tj.png')no-repeat;
}
.c25{
    color: #25b150;
}
/*.pbUl{
    height: 245px;
    overflow-y: auto;
}*/
.xz-popup {
    display: none;
    width: 325px;
    height: 190px;
    margin-left: -162.5px;
    margin-top: -95px;
}
.sz-popup {
    display: none;
    width: 325px;
    height: 190px;
    margin-left: -162.5px;
    margin-top: -95px;
}
.szz-popup {
    display: none;
    width: 325px;
    height: 190px;
    margin-left: -162.5px;
    margin-top: -95px;
}
.selt {
    width: 225px;
    border: 1px solid #9a9a9a;
    height: 40px;
    border-radius: 5px;
    margin: 25px 53px;
}
.cou-tab tr .eq{
    cursor: pointer;
    border:1px dashed #6f69d6!important
}
.cou-tab tr .eq1{
    border-left:1px dashed #6f69d6!important
}
.tdCur{
    background: #e9e8ff;
}
/*������*/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
.pbUl{
    height: 250px;
    overflow-y: auto;
}


.jhh{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    margin-top: -100px;
    background: white;
    z-index: 999999;
}
.jhh-top{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #dfdfdf;
    background: #5851db;
    color: white;
    font-size: 20px;
    font-family: KaiTi;
    padding-left: 15px;
}
.jhhIm{
    display: inline-block;
    margin: 50px 0px 50px 50px;
}
.jhhSp{
    display: inline-block;
    vertical-align: top;
    margin: 53px 10px 0px 20px;
    font-size: 18px;
    color: black;
    font-family: Microsofr YaHei;
}
