html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none;text-indent: 0.5em;font-family:Microsoft yahei}
textarea{resize: none;outline: none;font-family:Microsoft yahei;padding:5px}
select{outline: none;font-family: Microsoft yahei;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:black; font-family: Microsoft yahei}
::-moz-placeholder { color:black; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:black; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:black; font-family: Microsoft yahei}

.fl{
    float: left;
}
.fr{
    float: right;
}
/****************头部样式*******************/
.header {
    height: 90px;
    width: 100%;
    min-width: 1200px;
    background:#5851db;
}
.head-cont {
    width: 1200px;
    margin: 0 auto;
    height: 90px;
}
.head-cont>img {
    float: left;
    margin-top: 30px;
}
.top-nav {
    float: left;
    margin-left: 100px;
}
.top-nav>a {
    float: left;
    width: 105px;
    height: 90px;
    line-height: 140px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.dc-btn{
    width: 110px;
    height: 40px;
    background: white;
    color: #5851db;
    font-size: 16px;
    font-weight: bold;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mb35{
    margin-bottom: 35px;
}
.w1200{
    width: 1200px;
}
.center{
    margin: 0 auto;
}
.inline{
    display: inline-block;
}
.ml5{
    margin-left: 5px;
}
.tx{
    height: 25px;
    line-height: 25px;
    font-size: 22px;
    border-left: 10px solid #46bf94;
    color: black;
    padding-left: 10px;
    font-weight: bold;
}
.mt25{
    margin-top: 25px;
}
.block{
    display: block;
}
.f20{
    font-size: 20px;
}
.f18{
    font-size: 18px;
}
.c00{
    color: black;
}
.tabSty tr th{
    background: #ededed;
    color: black;
}
.tabSty tr th,.tabSty tr td{
    text-align: center;
    border:1px solid #8f8f8f;
    height: 42px;
}
.sel1{
    width: 174px;
    height: 38px;
    border: 1px solid #9a9a9a;
    margin-right: 20px;
    border-radius: 5px;
}
.ml15{
    margin-left: 15px;
}
.ha1200{
    width: 1200px;
    overflow-y: auto;
}
/*±³¾°²ã*/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}