html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none;text-indent: 0.5em;font-family:Microsoft yahei}
textarea{resize: none;outline: none;font-family:Microsoft yahei;padding:5px}
select{outline: none;font-family: Microsoft yahei;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:black; font-family: Microsoft yahei}
::-moz-placeholder { color:black; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:black; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:black; font-family: Microsoft yahei}
.fl{
    float: left;
}
.fr{
    float: right;
}


.top{
    width: 100%;
    height: 80px;
    background: #3b8686;
}
.top-center{
    width: 1200px;
    margin: 0 auto;
}
.top-center a {
    display: inline-block;
    width: 106px;
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 115px;
    cursor: pointer;
}
.a-cur {
    background-color: #439898!important;
}
.mr1200{
    width: 1200px;
    margin: 0 auto;
}
.mt55{
    margin-top: 55px;
}
.list{
    width: 1200px;
    height: 45px;
    border-bottom: 2px solid #5cb95c;
    color: black;
}
.list li{
    float: left;
    width: 100px;
    height: 28px;
    border:1px solid #dfdfdf;
    border-radius: 20px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
}
.list .li-cur{
    background: #5cb95c;
    color: white;
    border:1px solid #5cb95c;
}
.list-p{
    height: 55px;
    line-height: 55px;
    color: black;
    font-size: 18px;
}
.tab{
    width: 1200px;
    overflow-x:auto;
}
.tab table tr th {
    height: 55px;
    background: #e3e3e3;
}
.tab table tr td {
    height: 42px;
}
.tab table tr th, .tab table tr td {
    border: 1px solid #d2d2d2;
    text-align: center;
    color: black;
}
.tab table tr:nth-child(even) {
    background: #f5f7ff;
}
.tab table tr th em{
    display: inline-block;
    width: 132px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid #3a8888;
    background: white;
    z-index: 9999;
}
.gl-popup {
    display: none;
    width: 850px;
    height: 285px;
    margin-left: -425px;
    margin-top: -142.5px;
}
.popup-top {
    height: 48px;
    line-height: 48px;
    background: #e6e6e6;
    color: black;
}
.popup-top em {
    margin-left: 15px;
}
.popup-top .close {
    display: inline-block;
    background: url(../images/eva-close.png)no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 14px;
    cursor: pointer;
}
.chat{
    cursor: pointer;
    color: #389ad4;
}
.popup-div{
    width: 1200px;
    margin: 35px auto;
}
.popup-tab{
   width: 100%;
}
.popup-tab tr th,.popup-tab tr td{
    border:1px solid #d2d2d2;
    width: 275px;
    height: 38px;
    text-align: center;
    color: black;
}
.popup-tab tr td em{
    display: inline-block;
    margin: 5px;
}
.popup-btn {
    height: 107px;
    text-align: center;
}
.popup-btn button {
    width: 85px;
    height: 35px;
    border-radius: 3px;
    margin: 0px 10px;
}
.popup-btn .btn-qd {
    background: #3a8888;
    color: white;
    border: 1px solid #3a8888;
}
.popup-btn .btn-qx {
    background: #e4e4e4;
    color: black;
    border: 1px solid #c2c2c2;
}
.a-upload {
    width: 100px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    position: relative;
    cursor: pointer;
    color: white;
    background:#5db85c;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 25px;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.btn-dr{
    width: 100px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background:#5db85c;
    border-radius: 5px;
    color: white;
}
.tj p{
    color: black;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.tj-tab .tab th em {
    display: inline-block;
    width: 298px;
}
.list-btn{
    float: right;
    width: 100px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background: #5db85c;
    border-radius: 5px;
    color: white;
}
.btn-l{
    float: right;
    margin-top: -50px;
    margin-bottom: 10px;
}
.inp1{
    width: 80px;
    height: 28px;
    border:1px solid #dfdfdf;
}
.btn-l span{
    color: black;
    font-size: 15px;
    margin: 0px 10px;
}
.list-sta{
    height: 100px!important;
}
.list-sta ul{
    display: inline-block;
    margin-bottom: 10px;
    width:765px;
}
.list-sta span{
    display: inline-block;
    width: 4em;
    vertical-align: top;
    margin-top: 8px;
}
.prev-lt{
    margin-left: 25px;
    cursor: pointer;
    color: black;
}
.mt30{
    margin-top: 30px;
}
.com-top{
    color: black;
}
.inp2{
    width: 80px;
    height: 35px;
    border: 1px solid #dfdfdf;
}
.mr20{
    margin-left: 20px;
}
.b-blue{
    color: 
}
.w1200{
    width: 1200px;
    overflow-x:auto;
}
.com-tab tr th,.com-tab tr td{
    border: 1px solid #d2d2d2;
    text-align: center;
    color: black;
    height: 45px;
    font-weight: normal;
}
.com-tab tr th em{
    display: inline-block;
    width: 100px;
}
.com-tab tr th{
    height: 55px;
    background: #e3e3e3; 
}
.com-tab tr td{
    height: 42px;
}
.com-tab tr .last-th{
    width: 180px;
}
.com-list{
    width: 860px!important;
    border-bottom: none;
}
.mm30{
    margin: 30px 20px 0px 20px
}
.com-bottom{
    text-align: center;
}
.com-bottom button{
    width: 80px;
    height: 38px;
    border:1px solid #dfdfdf;
}
.qd{
    background: #5db85c;
    color: white;
    border:1px solid #5db85c;
}



.set-popup{
	width: 410px;
	height: 300px;
	margin-left: -205px;
	margin-top: -150px;
}
.set-popup dl{
	margin: 15px 25px;
	color: black;
}
.set-popup dl dd{
	margin-bottom:15px;
}
.set-popup dl dd select{
	height: 35px;
	width: 180px;
	border: 1px solid #dfdfdf;
}
.set-popup dl dd input{
	height: 35px;
	width: 180px;
	border: 1px solid #dfdfdf;
}
.set-bottom{
	text-align:center;
}
.set-bottom button{
	width:80px;
	height:32px;
}
/*±³¾°²ã*/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}




.tTab table tr th em {
    display: inline-block;
    width: 108px;
}
.prev-dl{
    margin-top: 25px;
    font-size: 16px;
}
.prev-d{
    min-height: 45px;
    margin-bottom: 15px;
}
.prev-d div{
    display: inline-block;
    width: 1045px;
    min-height: 45px;
}
.prev-d span{
    display: inline-block;
    color: black;
    width: 8em;
    text-align: center;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 10px;
}
.prev-d button{
    width: 120px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    background: #dfdfdf;
    color: black;
    margin-bottom: 20px;
}
.a-cor{
    background: #c7d9f1!important;
    color: white!important;
}
.b-cor{
    background: #93d150!important;
    color: white!important;
}
.c-cor{
    background: #ffc100!important;
    color: white!important;
}
.com-bottom button {
    margin: 0px 10px;
}