html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none;text-indent: 0.5em;font-family:Microsoft yahei}
textarea{resize: none;outline: none;font-family:Microsoft yahei;padding:5px}
select{outline: none;font-family: Microsoft yahei;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:black; font-family: Microsoft yahei}
::-moz-placeholder { color:black; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:black; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:black; font-family: Microsoft yahei}
.fl{
    float: left;
}
.fr{
    float: right;
}
.header {
    height: 90px;
    width: 100%;
    min-width: 1300px;
    background:#5851db;
}
.head-cont {
    width: 1200px;
    margin: 0 auto;
    height: 90px;
}
.head-cont>img {
    float: left;
    margin-top: 38px;
}
.top-nav {
    float: left;
    margin-left: 100px;
}
.top-nav>a {
    float: left;
    width: 105px;
    height: 90px;
    line-height: 140px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.top-nav>a.active {
    background-color: #4740d0;
}
.top-nav>.a1 {
    background: url(../images/nav1.png) no-repeat center 20px;
}
.top-nav>.a2 {
    background: url(../images/nav2.png) no-repeat center 20px;
}
.top-nav>.a3 {
    background: url(../images/nav3.png) no-repeat center 20px;
}
.top-nav>.a4 {
    background: url(../images/nav4.png) no-repeat center 20px;
}
.top-nav>.a5 {
    background: url(../images/nav5.png) no-repeat center 20px;
}
.top-nav>.a6 {
    background: url(../images/nav6.png) no-repeat center 20px;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
.mt25{
    margin-top: 25px;
}
.mt35{
    margin-top: 35px;
}
.mt20{
    margin-top: 20px;
}
.ml10{
    margin-left: 10px;
}
.mb35{
    margin-bottom: 35px;
}
.mt45{
    margin-top: 45px;
}
.li-sty{
    min-height: 40px;
}
.li-sty span{
    display: inline-block;
    width: 90px;
    height: auto;
    line-height: 40px;
    text-align: center;
    color: white;
}
.bg-line{
    background: url('../images/bg-line.png') repeat-y;
}
.li-sty .d-sty{
    width: 1110px;
    height: 40px;
    border-bottom: 1px solid #ebedf2;
    background: #f5f5f5;
}
.li-sty .d-sty em{
    display: inline-block;
    color: black;
    margin: 10px 0px 0px 35px;
    cursor: pointer;
}
.cur{
    color: #6f69d6!important;
    font-weight: bold;
}
.btn{
    width: 110px;
    height: 42px;
    border-radius: 3px;
}
.impor-bt,.add-bt{
    border:1px solid #f56040;
    background: #f56040;
    color: white;
}
.load-bt{
    border:1px solid #f56040;
    background: white;
    color: #f56040;
}
.f16{
    font-size: 16px;
}
.w150{
    width: 150px;
}
.w125{
    width: 125px;
}
.cou-tab tr th{
    background: #ededed;
    color: black;
    border-bottom: none!important;
}
.cou-tab tr th,.cou-tab tr td{
    text-align: center;
    border:1px solid #969696;
    height: 40px;
}
.cur-tab tr td em{
    cursor: pointer;
}
.cou-tab tr td em{
    display: inline-block;
    color: #666666;
}
.cou-x{
    width: 1045px;
    margin-left: -1px;
    overflow-y: auto;
}
.w260{
    width: 260px;
}
.cou-y{
    height: 830px;
    overflow-y:auto;
}
.reset{
    display: none;
}
.right-pos{
    position: fixed;
    top: 110px;
    right: 0px;
}
.right-pos a{
    display: block;
    width: 100px;
    height: 100px;
    line-height: 160px;
    text-align: center;
    opacity: 0.8;
}
.b1{
    background: url('../images/tright1.png') no-repeat #8c44de 32px 20px;
    border:1px solid #8c44de;
    color: white;
}
.b2{
    background: url('../images/bright2.png') no-repeat white 32px 20px;
    border:1px solid #dfdfdf;
    color: #8c44de;
}
.c1{
    background: url('../images/tright2.png') no-repeat white 32px 20px;
    border:1px solid #dfdfdf;
    color: #8c44de;
}
.c2{
    background: url('../images/bright1.png') no-repeat #8c44de 32px 20px;
    border:1px solid #8c44de;
    color: white;
}
.r-cur{
    width: 25px;
    height: 20px;
    background: url('../images/r-cur.png') no-repeat;
}
.b-line{
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 10px;
}
.com span{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.com-sp span{
    display: inline-block;
    width: 128px;
    height: 58px;
    border:1px solid #c13584;
    border-radius: 3px;
    background: white;
    color: #c13584;
    text-align: center;
    line-height: 58px;
    font-size: 20px;
    margin-right: 17px;
    margin-bottom: 15px;
    cursor: pointer;
}
.com-sp span{
    position: relative;
}
.com-sp span em{
    display: none;
    position: absolute;
    top: -15px;
    right: -20px;
    width: 40px;
    height: 25px;
    background:url('../images/im-r.png') no-repeat;
}
.com-sp span:nth-child(8n){
    margin-right: 0px;
}
.com-sp .com-cur{
    background-color: #c13584;
    color:white;
}
.com-cur em{
    display: inline-block!important
}
.submit{
    width: 90px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    background:#f56040;
    color: white; 
    border-radius: 3px;
}
.t-center{
    text-align: center;
}
.w1300{
    width: 1300px!important;
}
/*±³¾°²ã*/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}