html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;font-size: 14px;}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
textarea{resize: none;outline: none;}
select{outline: none;font-family: Microsoft yahei;text-indent: 1em;}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	*zoom:1;
}
.notice-out i{
    display: none;
}
html{
	background: #eaeaea
}
.notice-main{
	width: 100%;
	height: auto;
	color: white;
	background: #eaeaea;
}
.notice-main-top{
	width: 100%;
	background: #FF4500;
    color: white;
	min-width: 1300px;
}
.notice-top{
	width: 1250px;
	height: 77px;
	margin:0 auto;
}
.notice-top-left{
	width:315px;
	float: left;
}
.notice-top-left h1{
	margin: 17px 0px;
}
.notice-top-right{
	float: left;
}
.notice-top-right li{
	float: left;
	width: 115px;
	height: 77px;
	text-align:center;
	cursor: pointer;
}
.notice-top-right li:hover,.notice-top-right li.li-active{
	background: #d7440b;
}
.notice-top-right li img{
	display: block;
    width: 24px;
    height: 24px;
    margin: 15px 45px 0px;
}
.notice-info{
	width: 1250px;
	margin: 15px auto;
	border:1px solid #d4d4d4;
	color: black;
}
.notice-info-top{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: white;
	border-bottom:2px solid #d4d4d4;
}
.notice-top-in{
	width: 935px;
	float: right;
	position: relative;
}
.notice-top-in input{
    width: 264px;
    height: 35px;
    border: 1px solid #9f9f9f;
    padding-left: 5px;
    position: absolute;
    top: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	padding-left: 30px;
}
.notice-top-in span{
	color: #0678fe;
	cursor: pointer;
}
.notice-mag{
    display: inline-block;
    width: 72px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    position: absolute;
    left: 270px;
    top: 7px;
    cursor: pointer;
    background: #2669c2;
    color: white!important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.notice-top-p{
    background: url('/static_new/images/search.png')no-repeat 7px 9px;
}
.notice-row{
	display: inline-block;
    background: url('/images/notice/notice-row.png')no-repeat 0px 15px;
    padding-left: 25px;
    margin-left: 320px;
    margin-right: 10px;
    position: absolute;
    right: 100px;
}
.notice-edit{
	display: inline-block;
    background: url('/images/notice/notice-edit.png')no-repeat 0px 15px;
    padding-left: 25px;
    margin-right: 15px;
    position: absolute;
    right: 0px;
}
.notice-info-left{
	width: 315px;
	float: left;
	border:1px solid #d4d4d4;
	border-top:none;
}
.notice-info-p{
	height: 40px;
    line-height: 40px;
    padding-left: 15px;
}
.notice-info-p select{
	width: 85px;
	background: #eaeaea;
	line-height: 40px;
	height: 40px;
}
.notice-info-p button{
	width: 65px;
	height: 26px;
	line-height: 26px;
	float: right;
	margin-right: 25px;
	margin-top: 7px;
	background: #2669c2;
	color: white;
}
.notice-info-li{
	height: 500px;
	overflow-y:auto;
}
.notice-info-li li{
	float: left;
	background: white;
	width: 100%;
	height: 70px;
	border-top:1px solid #d4d4d4;
	font-size: 15px;
	cursor: pointer;
}
.notice-info-li li.li-on{
    background: #dfdfdf;
	/*color: white!important;
    opacity: 0.1;*/
}
/*.notice-info-li li:hover p{
	background: #FF4500;
	color: white!important;
}*/
.notice-info-li li p{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 175px;
    margin-left: 5px;
}
.notice-info-li li img{
	display: inline-block;
    width: 25px;
    height: 25px;
    margin: 10px 0px 0px 14px ;
}
.notice-info-li li input{
	margin-top: 15px;
	margin-left: 15px;
	width: 15px;
	height: 15px;
}
.notice-info-li li i{
	display:inline-block;
	width: 40px;
	height: 18px;
	color: white;
	border-radius: 20px;
	text-align: center;
	line-height: 18px;
	font-size: 14px;
	overflow: hidden;
}
/*.notice-info-li li:hover i{
	background: #dfdfdf;
	color: #FF4500;
}*/
.notice-red{
	color: red;
}
.notice-day{
	color: red;
	font-weight: bold;
}
.notice-wei{
	color: black;
	font-weight: bold;
}
.notice-info-li li span{
	margin-left: 40px;
	/*margin-right: 15px;*/
}
.notice-info-li li .notice-sp{
	display: inline-block;
	background: #31c449!important;
	color: white!important;
}
.notice-info-right{
	border: 1px solid #bababa;
	float: left;
	background: #d5d5d5;
	width: 930px;
	height: 500px;
	overflow-y:auto;
	overflow-x:hidden;
}
.notice-info-right-t{
	min-height: 60px;
	margin: 0px 10px 0px 25px;
}
.notice-info-right-t h2{
    font-weight: bold;
    display: inline-block;
    margin: 15px 0;
    font-size: 18px;
    word-break: break-all;
    width: 80%;
}
.notice-info-right-t span{
    float: right;
    vertical-align: top;
    margin-top: 17px;
}
.notice-info-right-t span em{
	display: inline-block;
	background:#e5e5e5;
	margin-right: 20px;
	width: 95px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	border-radius: 20px;
    vertical-align: middle;
}
.notice-info-right-t span select{
	background:#d5d5d5;
}
.notice-info-text{
	background: white;
	width: 915px;
	margin: 0px 8px;
	min-height: 300px;
}
.notice-text-top{
	height: 95px;
    width: 880px;
    border-bottom: 2px solid #e8e8e8;
    margin: 0px 18px;
    padding: 10px 0px;
}
.notice-text-top dd>em{
	margin: 0px 10px 0px 0px;
}
.notice-name{
	font-weight: bold;
}
.notice-text-top dd{
	height: 32px;
	line-height: 32px;
}
.notice-text-top dd span{
	display: inline-block;
	background: #f2f6f9;
	padding: 0px 15px;
}
.notice-text-top dd span em{
	color:#0279fd;
	cursor: pointer;
	display: inline-block;
	margin: 0px 10px; 
}
.notice-text-main{
	/*width: 100%;*/
	margin: 20px 38px 30px;
	background: #fff;
	padding-bottom: 17px;
}
.notice-text-main p{
    word-break: break-all;
    width: 96%;
}
.Mnotice-body{
	background: #eaeaea;
	width: 100%;
	height: 100%;
    padding-top: 20px;
}
.Mnotice-main{
	width: 1205px;
	margin: 0 auto;
	background: white;
	border:1px solid #dcdfe1;
}
.Mnotice-top{
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #dcdfe1;
	background: #eff5fe;
}
.Mnotice-top h3{
	display: inline-block;
	color: black;
	margin-left: 20px;
	font-weight: bold;
}
.Mnotice-top-im{
	display: inline-block;
	background: url(/images/notice/notice-ed.jpg) no-repeat 10px 25px;
	width: 163px;
	height: 60px;
	padding-left: 30px;
	font-size: 19px;
}
.Mnotice-info{
	width: 830px;
	margin-left: 50px;
}
.Mnotice-info .Mnotice-start{
	background: url(/images/notice/notice-start.jpg) no-repeat 0px 8px;
	padding-left: 10px;
	margin-left: 0px;

}
.Mnotice-info dd{
	margin-top: 25px;
	min-height:35px;
	color: black;
	font-size: 14px;
}
.Mnotice-info dd>em{
	display: inline-block;
	width: 58px;
	height: 32px;
	text-align: right;
	margin-right: 20px;
	margin-left: 10px;
}
.Mnotice-info input{
	border:1px solid #bdbdbd;
	padding-left: 5px;
	height: 32px;
}
.Mnotice-info .Mnotice-f-in{
	width: 710px;
}
.Mnotice-info .Mnotice-tx{
	display: inline-block;
	position: relative;
}
.Mnotice-info .Mnotice-tx input{
	width: 300px;
}
.Mnotice-info button{
	width: 85px;
	height: 34px;
	background: #007afe;
	color: white;
}
.Mnotice-info .Mnotice-tx button{
	position: absolute;
	right: -84px;
	top: 0px;
}
.Mnotice-info dd i{
	color: #989898;
}
.Mnotice-info dd li{
	background: #f3f8f9;
	max-width: 670px;
	display: block;
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
}
.Mnotice-info dd ul{
	margin-left: 90px;
}
.Mnotice-info dd li>em{
	color:#3d9bd2;
	cursor: pointer;
	margin-left: 30px;
}
.Mnotice-info dd .Wdate{
	width: 155px;
}
.Mnotice-info dd select{
	height: 35px;
	width: 130px;
	border:1px solid #bdbdbd;
}
.Mnotice-ye{
	color: black;
	font-size: 14px;
	margin-left: 25px;
	margin-top: 20px;
}
.Mnotice-ye input{
	width: 12px;
	height: 12px;
	margin: 0 10px;
}
.Mnotice-bot{
	width: 100%;
	margin-top: 55px;
	margin-left: 90px;
	padding-bottom: 30px;
}
.Mnotice-bot button{
	display: inline-block;
	height: 44px;
	border-radius: 5px;
	margin-right: 15px;
}
.Mnotice-bot .Mnotice-FB{
	background: #ffbc00;
	color: #a94315;
	border:1px solid #ff9701;
	font-size: 18px;
	width: 125px;
}
.Mnotice-bot .Mnotice-QX{
	background: #f4f4f4;
	color: black;
	border:1px solid #cacaca;
	font-size: 18px;
	width: 85px;
}

/***********************************通讯录**************************************************/
.contacts-main{

    position: fixed;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    border: 3px solid #16832e;
    z-index: 999;
    font-size: 15px;
    background-color: #ffffff;
    overflow: visible;
    z-index: 999999999;
}
.contacts-right-check{
    float: right;
    margin: 5px ;
}
.contacts-right-check input{
	margin-left: 25px;
}
.contacts-top{
	height: 32px;
	width: 100%;
	background-color: #eeeeee;
	line-height: 32px;
}
.contacts-top-left{
	display: inline-block;
	float: left;
	padding-left: 20px;
}
.contacts-info{
    clear: both;
    text-align: center;
}
.contacts-top-right-I{
    cursor: pointer;
    padding-right: 10px;
    margin: 15px auto 0px;
    width: 200px;
    display: inline-block;
}
.contacts-top-right-II{
    background: #367ccd!important;
    color: white;
}
.contacts-top-right-I>button{
	background-color: #C0C0C0;
	font-family: "Microsoft Yahei";
    padding: 5px 25px;
    margin: 0px 10px;
}
.contacts-top-right-I>button:hover{
	background-color: #438ac9;
    color: white;

}

.contacts-IN{
	height: 40px;
	width: 100%;
}
.contacts-IN>input{
	border:1px solid #D0D0D0;
	height: 30px;
	width: 480px;
	margin-top: 5px;
	margin-left: 20px;
	border-radius: 5px;
	text-indent: 1em;
}
.contacts-middle{
	height: 32px;
	border-top:1px solid #D0D0D0 ;
	border-bottom: 1px solid #D0D0D0;
	line-height: 34px;
	padding-left: 7%;
	overflow: hidden;
}
.contacts-middle>ul>li{
	float: left;
	background-color: #ffffff;
	padding: 0 20px;
	cursor: pointer;
}
.contacts-middle>ul>li:hover{
	background-color: #438ac9;
	color: #ffffff;
}

.focus{
	background-color: #438ac9;
	color: #ffffff;
}
.contacts-pl{
	height: 40px;
}
.contacts-pl>input{
	border:1px solid #D0D0D0;
	height: 30px;
	width: 480px;
	margin-top: 5px;
	margin-left: 20px;
	border-radius: 5px;
	text-indent: 1em;
	font-family: "Microsoft Yahei";
	color: #000000;
}
.contacts-bottom{
	height: 155px;
	overflow-y :auto;
	overflow-x:hidden;
}
.contacts-bottom-nav{
	height: 32px;
	line-height: 34px;
	overflow: hidden;
	padding-left: 20px;
}
.contacts-bottom-nav>ul>li{
	float: left;
	width: 100px;
	cursor: pointer;
	background-color: #ffffff;
	text-align: center;
}
.contacts-bottom-H{
	background-color: #438ac9!important;
	color: #ffffff;
}
.contacts-bottom-nav>ul>li:hover{
	background-color: #438ac9;
	color: #ffffff;
}
.contacts-bottom-text>ul>li>span{
	position: relative;
	left: 20px;
}
.contacts-bottom-text>ul>li>img{
	padding-left: 15px;
}
.contacts-odd{
	height: 32px;
	background-color: #e9f4f6;
	cursor: pointer;
	line-height: 35px;
	padding-left: 49px;
	overflow: hidden;
}
.contacts-odd:hover{
	background-color: #d9d9d9;
}
.contacts-even{
	height: 32px;
	background-color: #ffffff;
	cursor: pointer;
	line-height: 35px;
	padding-left: 49px;
	overflow: hidden;
}
.SM{
	padding-left: 0px!important;
}
.contacts-even:hover{
	background-color: #d9d9d9;
}
.comtacts-sv{
	float:left;
	position:relative;
	overflow:hidden;
	width:20px;
	height:20px;
	top: 5px;
	left: 10px
}
.comtacts-ss{
	height: 10px;
	width: 10px;
	padding-top: 5px;
	padding-left: 5px;
}
.XL{
	display: none;
	padding-left: 49px;
}
.area{
	width: 110px;
	height: 25px;
}
.teacher_user_QX{
	float: right;
	padding-right: 55px;
	color: #458fc9;
	display: none;
}
.SM:hover .teacher_user_QX{
	display:block;
}


.infrom-LO{
	/* position: absolute;
        right: 95px;*/

	position: absolute;
	right: 205px;
}
.contacts-aa{
	display: none;
}
.contacts-odd:hover .contacts-aa{
	display: inline-block;
}
.view-MC{
	width: 450px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
/**************************背景***********************/
.bg
{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	/*z-index: 1;*/
	z-index: 999999900;
	position: fixed !important; /*FF IE7*/
	position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
.view{
	overflow-y: auto!important;
}
.view-text p{
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-indent:0;
	padding:0 0 0 0 ;
	line-height:28px;
	background:rgb(255,255,255)
}
.view-text a{
	display: inline;
}
.view-text span{
	display: inline;
}
.allname{
    display: inline-block;
    width: 500px;
    overflow: hidden;
    height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.details-popup{
    display: none;
    position: fixed;
    width: 650px;
    min-height: 100px;
    background: white;
    top: 15%;
    left: 50%;
    margin-left: -335px;
	z-index:  999999999;
  /*  display: inline-block;*/
}
.details-popup-top{
    background: #FF4500;
    height: 40px;
    line-height: 40px;
    color: white;
}
.details-popup-top em ,.details-popup-top i{
    margin: 0px 20px;
}
.details-popup-top i{
    float: right;
    cursor: pointer;
}
.datails-popup-info dl{
    display: inline-block;
    margin: 25px 45px;
    color: #000000;
    height: 385px;
    overflow-y: auto;
}
.datails-popup-info dl p,.datails-popup-info dl em{
    display: inline-block;
}
.datails-popup-info dl p{
    width: 34em;
    word-break: break-all;
}
.datails-popup-info dl em{
    vertical-align: top;
}
.datails-popup-info dl dd{
    min-height: 32px;
    line-height: 32px;
}
.details-bot{
        width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.details-bot button{
    padding: 5px 25px;
    background: #FF4500;
    color:white;
	height: 30px;
	line-height: 20px;
}
#treeDemo {
	-moz-user-select: none;
	width: 240px;
	height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6px 0 0px 13px;
	margin: 10px 0;
}

.ztree li span.button{
	width: 0 ;
}
.ztree li{
	margin:3px 0 !important;
}
#ueditor_0{
	min-height: 200px;
}
#noticelist>li>em{
	float: right;
	margin-right: 10px;
	line-height: 20px;
	font-size: 12px;
	color: #666;
}
.notice-out{
	float: right;
	color: white;
	vertical-align: top;
	/*margin-top: 30px;*/
	font-size: 16px;
}
.notice-out i{
	cursor: pointer;
}
#files em,#files span{
	line-height: 20px;
}
.notice-tab{
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
}
.notice-tab li{
	float: left;
	padding: 4px 20px;
	border: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
}
.notice-tab li.active{
	background: #ccc;
	color: #fff;
}
.notice-tab li:nth-child(1){
	border-right: none;
}
.notice-number p{
	background: #fff;
	color: #333;
	padding: 10px 15px;
	word-break: break-all;
	word-wrap: break-word;
}
.contacts-left{
    float: left;
    border:1px solid #dfdfdf;
    margin: 10px;
}
.contacts-right{
    float: left;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
    width: 510px;
    height: 376px;
}
#myList-nav{
    background: #e7f1ff;
    height: 33px;
    overflow: hidden;
    line-height: 33px;
}
#myList-nav a{
    color: #000000;
    padding: 0px 4px;
}
._,.ln-last,.ln-letter-count{
    display: none!important;
}
.myList{
	width: 503px;
	margin: 7px;
	height: 305px;
	overflow-y: auto;
}
.myList li{
	float: left;
	width: 79px;
	height: 71px;
	margin: 0 10px 15px 8px;
	text-align: center;
}
.myList li img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.myList li span{
	display: inline-block;
	width: 79px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.myList li.li-select{
	background: url(/images/schoolbase/subbg.png) no-repeat right top;
}
.member-list{
	overflow: auto;
}
#edui1{
	z-index: 9!important;
}
.import-notice{
	float: right;
	padding-right: 100px;
	color: #007afe;
}