/* css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#333; font-size:14px; font-family:微软雅黑,'Microsoft YaHei'; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
textarea{resize:none;outline: none;resize: none;font-family:微软雅黑,'Microsoft YaHei';}
input{resize:none;font-family:微软雅黑,'Microsoft YaHei';outline: none;}
button{font-family:微软雅黑,'Microsoft YaHei';}
.fl{float: left;}
.fr{float: right;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
/*头部*/
.newPage-top-right span{
	display: none;
}
.head{
	width: 100%;
	height: 79px;
	background: #54b22b;
	color: #fff;
	min-width: 1200px;
}
.head-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.nav-list{
	height: 100%;
}
.nav-list li{
	float: left;
	height: 100%;
	padding: 0 25px;
	text-align: center;
	cursor: pointer;
}
.nav-list li img{
	display: block;
	width: 28px;
	height: 27px;
	margin-top: 15px;
	margin-bottom: 8px;
	margin-left: calc(50% - 14px);
}
.nav-list li.li-active{
	background: #3a9513;
}
.logo-wrap{
	width: 180px;
	height: 30px;
	margin:26px 162px 0 0;
}
/*内容区域*/
.content{
	width: 1200px;
	margin: 0 auto;
}
.new-vote{
	margin-top: 32px;
}
.vote-left{
	width: 340px;
}
.vote-left form input[type=text]{
	width: 267px;
	height: 40px;
	padding-left: 28px;
	background: url(/img/vote/img/search.png) no-repeat 5px 11px;
	border: 1px solid #a5a5a5;
	border-right: none;
}
.vote-left form input[type=submit]{
	width: 72px;
	height: 40px;
	background: #5494dd;
	color: #fff;
	border: 1px solid #5494dd;
	margin-left: -4px;
	cursor: pointer;
}
.vote-list{
	border: 1px solid #ccc;
	margin-top: 15px;
}
.vote-list>dt{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	background: #edf6fc;;
}
.vote-list>dd{
	height: 59px;
	line-height: 59px;
	border-top:1px solid #ccc;
	padding: 0 20px;
	box-sizing: border-box;
	border-left: 6px solid transparent;
	cursor: pointer;
}
.vote-list>dd>h6{
	float: left;
	width: 184px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.vote-list>dd.active{
	background: #edf6fc;
	border-left: 6px solid #5494dd;
}
.vote-status{
	float: right;
	margin-top: 19px;
	width: 49px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	border-radius: 15px;
	box-sizing: border-box;
	font-size: 12px;
}
.vote-ing{
	background: #63c732;
	border: 1px solid #63c732;
}
.vote-over{
	background: #cacaca;
	border: 1px solid #cacaca;
	display: inline-block;
	box-sizing: border-box;
}
.vote-will{
	background: #ffba00;
	border: 1px solid #ffba00;
}
.page-turn{
	width: 100%;
	padding-top: 14px;
	text-align: right;
}
.page-turn a{
	display: inline-block;
	width: 23px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f5f8fa;
	border: 1px solid #a8b5be;
	margin-left: 11px;
	font-size: 18px;
}
.vote-right,.yincamg{
	width: 840px;
	border: 1px solid #ccc;
	padding-bottom: 30px;
}
.vote-top{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom:1px solid #ccc;
	background: #edf6fc;;
}
.btn{
	display: inline-block;
	padding: 0 12px 0 35px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.del-btn{
	background: #54b22b url(../img/vote/img/del-btn.png) no-repeat 11px 7px;
}
.open-btn{
	background: #54b22b url(../img/vote/img/open-btn.png) no-repeat 10px 10px;
}
.step-name{
	display: block;
	font-weight: bold;
	line-height: 30px;
}
.vote-con{
	padding: 20px 28px 0 48px;
}
.vote-con>div{
	margin-bottom: 15px;
}
.vote-theme input[type=text]{
	width: 495px;
	padding-left: 5px;
	height: 33px;
	border: 1px solid #ccc;
}
.edit-btn{
	background: #5494dd url(/img/vote/img/edit-btn.png) no-repeat 10px 7px;
}
.vote-rule textarea{
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.obj-label{
	margin-bottom: 8px;
}
.obj-label label{
	margin-right: 10px;
}
.obj-label label input[type=radio]{
	vertical-align: middle;
	margin: 0 5px 3px 0;
}
.obj-search>input[type=text]{
	width: 270px;
	padding-left: 10px;
	border: 1px solid #ccc;
	height: 35px;
}
.obj-search>span,.submit-btn{
	display: inline-block;
	width: 81px;
	height: 35px;
	background: #5494dd;
	color: #fff;
	line-height: 35px;
	text-align: center;
	margin-left: -5px;
	cursor: pointer;
	vertical-align: middle;
	margin-top:-4px;
}
.addworks-btn{
	background: #5494dd url(../img/vote/img/add.png) no-repeat 13px 9px;
	margin-bottom: 10px;
}
.works-wrap>img{
	width: 74px;
	height: 74px;
	margin-right: 10px;
}
div.add-works{
	width: 74px;
	height: 74px;
	background: rgba(226,226,226,.8);
	display: inline-block;
	position: relative;
	cursor: pointer;
}
div.add-works img{
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}
.works-upload{
	display: none;
}
.vote-person .obj-search{
	display: inline-block;
	margin-right: 30px;
}
.vote-object label input[type=checkbox]{
	vertical-align: middle;
	margin: 0 5px 1px 20px;;
}
.vote-limit select{
	width: 66px;
	height: 35px;
	border: 1px solid #ccc;
	margin: 0 5px;
}
.vote-validity input[type=text],.vote-deadline input[type=text]{
	width: 175px;
	padding-left: 10px;
	height: 33px;
	border: 1px solid #ccc;
}
.vote-permission label input[type=checkbox]{
	vertical-align: middle;
	margin:  0 5px 3px 0;
}
.vote-table,.works-table{
	width: 804px;
	border:1px solid #ccc;
	margin: 15px auto;
	text-align: center;
	border: 1px solid #ccc;
}
.vote-table th,.works-table th{
	height: 55px;
	background: #e3e3e3;
	font-weight: bold;
}
.vote-table td{
	height: 42px;
	border-top:1px solid #ccc;
}
.vote-table tbody tr:nth-child(2n){
	background: #f5f6ff;
}
.vote-table td input[type=checkbox]{
	display: none;
}
.vote-table td label{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/vote/img/unchecked.png) no-repeat 0 0;
}
.vote-table td input[type=checkbox]:checked + label{
	background: url(../img/vote/img/checked.png) no-repeat 0 0;
}
.vote-tips{
	color: #ff8010;
	margin-right: 20px;
	line-height: 35px;
}
.submit-btn{
	margin-top: 7px;
}
.vote-btn{
	display: inline-block;
	width: 46px;
	height: 20px;
	background: #63c732;
	color: #fff;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	transition: all .5s;
}
.voted{
	background: #ffba00;
	transition: all .5s;
}
.works-table td:first-child{
	text-align: left;
	padding: 5px;
}
.works-table td{
	border-top:1px solid #ccc;
}
.works-main img{
	width: 74px;
	height: 74px;
	margin: 10px 10px 0 0;
}
.vote-results{
	display: none;
}
.back-btn{
	vertical-align: middle;
	margin-right: 5px;
	display: none;
	cursor: pointer;
	margin-bottom: 3px;
	width: 20px;
}
.img-del{
	margin: 20px 0 0 10px;
}
.vote-object .obj-search{
	display: inline-block;
}
.vote-instruction>p{
	width: 636px;
	word-break: break-all;
	word-wrap: break-word;
}
.vote-operate{
	position: relative;
}
.vote-operate .vote-tips{
	position: absolute;
	bottom: -10px;
	right: -14px;
}
/*背景层*/
.bg{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 99;
	position: fixed !important; /*FF IE7*/
	position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

/*弹窗*/
.add-alert{
	width: 888px;
	border: 3px solid #17832e;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 999;
	background: #fff;
	transform: translate(-50%,-50%);
	display: none;
}
.alert-top{
	width: 100%;
	height: 45px;
	background:#e6e6e6;
	line-height: 44px;
}
.alert-top .alert-l{
	margin-left: 18px;
}
.alert-top .alert-r{
	margin-right: 18px;
	font-size: 30px;
	cursor: pointer;
}
.member-list{
	padding: 15px 15px 0 15px;
}
.member-list li{
	float: left;
	width: 70px;
	height: 71px;
	margin: 0 10px 15px 0;
}
.member-list li img{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-bottom: 5px;
}
.member-list li span{
	display: inline-block;
	width: 100%;
	text-align: left;
}
.member-list li span>em{
	display: inline-block;
	max-width: 54px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.member-list li span.male>i{
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(../img/vote/img/male.png) no-repeat right 4px;
}
.member-list li span.female>i{
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(../img/vote/img/female.png) no-repeat right 2px;
}
.alert-bottom{
	width: 100%;
	text-align: center;
	padding: 60px 0 20px 0;
}
.alert-bottom button{
	padding: 6px 25px;
	/*border-radius: 4px;*/
	cursor: pointer;
	margin-right: 22px;
}
.btn-sure{
	background: #367ccc;
	border:1px solid #367ccc;
	color: #fff;
}
.btn-esc{
	background: #e4e4e4;
	border: 1px solid #c0c0c0;
}
.member-select{
	width: 100%;
	background: #e6f0ff;
}
.member-select a{
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	cursor: pointer;
}
._, .ln-last, .ln-letter-count {
	display: none !important;
}
.member-list{
	padding: 15px 15px 0 15px;
	height: 285px;
	overflow-y: auto;
}
.div-3 {
	margin-top: 7px;
	border: 1px solid #dbdbdb;
}
.alert-main{
	padding-top: 20px;
}
.alert-main .main-right{
	margin-right: 30px;
}
.alert-main .main-left{
	border: 1px solid #ccc;
	width: 240px;
	margin:7px 0 0 30px;
}
#treeDemo{
	height: 318px;
	overflow-y: auto;
}
.sex-select{
	text-align: right;
}
.sex-select label{
	margin-left: 15px;
}
.sex-select label input[type=checkbox]{
	vertical-align: middle;
	margin: 0 5px 2px 0;
}
.explain-con textarea{
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 200px;
	border: 1px solid #ccc;
	border-left: 6px solid #5494dd;
}
.explain-con .join-btn{
	display: inline-block;
	width: 96px;
	height: 36px;
	background: #54b22b;
	line-height: 36px;
	text-align: center;
	color: #fff;
	margin: 15px 0 0 315px;
	cursor: pointer;
}
.file-upload{
	display: inline-block;
	padding-left: 20px;
	background: url(../img/vote/img/file.png) no-repeat 0px 0px;
	margin-top: 15px;
	cursor: pointer;
	line-height: 21px;
}
.vote-agree,.vote-refuse{
	display: inline-block;
	width: 46px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.vote-agree{
	background: #63c732;
	margin-right: 20px;
}
.vote-refuse{
	background: #ffba00;
}
/***************手动选择检查评比对象********************/
.checkSet-DXX{
	display: none;
	position: fixed;
	width: 500px;
	height: 465px;
	top: 50%;
	left: 50%;
	margin-top: -232.5px;
	margin-left: -250px;
	background: white;
	border: 3px solid #3f7dd2;
	z-index: 9999999999;
}
.checkSet-DXX-info{
	margin: 10px 35px;
}
.checkSet-DXX-info input{
	width: 345px;
	height: 35px;
	border: 1px solid #c3c3c3;
}
.checkSet-DXX-info button{
	width: 80px;
	height: 37px;
	background: #1319D2;
	color: white;
	margin-bottom: 10px;
}
.checkSet-DXX-info table{
}
.checkSet-DXX-info tr th{
	background: #ececec;
}
.checkSet-DXX-info tr th,.checkSet-DXX-info tr td{
	border:1px solid #c3c3c3;
	height: 45px;
	font-weight: normal;
	text-align: center;
}
.checkSet-dde{
	cursor: pointer;
	color: #3f7dd2;
}
.checkSet-czt{
	width: 430px;
	height: 275px;
	overflow-y: auto;
}
.model-ld{
	display: inline-block;
	background: #5494dd;
	width: 80px;
	height: 37px;
	color: white;
}
.checkSet-boot{
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.checkSet-boot button{
	width: 85px;
	height: 36px;
	margin: 5px 10px;
	border-radius: 5px;
}
.checkSet-boot .boot-qd{
	background: #3f7dd2;
	border:1px solid #3f7dd2;
	color: white;
}
.checkSet-boot .boot-qx{
	background:#e4e4e4;
	border:1px solid #bfbfbf;
}
.checkSet-popup{
	display: none;
	position: fixed;
	width: 546px;
	height: 314px;
	top:50%;
	left: 50%;
	margin-top: -157px;
	margin-left: -273px;
	background: white;
	border:3px solid #3f7dd2;
	z-index: 99999;
}
.checkSet-popup-top{
	height: 48px;
	line-height: 48px;
	background: #e6e6e6;
}
.checkSet-popup-top em{
	margin-left: 15px;
}
.checkSet-popup-top i{
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('/static_new/images/checkRating/close.png')no-repeat;
	margin: 15px;
	cursor: pointer;
}
.checkSet-popup-info div{
	display: inline-block;
	margin-top: 35px;
	margin-left: 25px;
}
.checkSet-popup-info div em{
	display: block;
}
.checkSet-popup-info div .checkSet-ch{
	width: 15px;
	height: 15px;
}
.checkSet-popup-info div select{
	width: 145px;
	height: 35px;
	border:1px solid #c3c3c3;
}
.checkSet-popup-info div input{
	width: 174px;
	height: 35px;
	border:1px solid #c3c3c3;
}
.check-btoom{
	text-align: center;
	margin-top: 75px;
}
.check-btoom button{
	width: 88px;
	height: 36px;
	margin: 0px 15px;
	border-radius: 5px;
}
.check-btoom .check-qd{
	background: #3f7dd2;
	border:1px solid #3f7dd2;
	color: white;
}
.check-btoom .check-qx{
	background: #e4e4e4;
	border:1px solid #bfbfbf;
	color: black;
}
.checkSet-paging{
	float: right;
	margin: 10px 0;
}
.checkSet-paging button{
	width: 25px;
	height: 32px;
	border:1px solid #d0d0d0;
	background: white;
	margin-left: 15px;
}
/************检查录入***************/
.checkinp-XZ dl dt{
	height: 65px;
	border-bottom: 1px solid #c3c3c3;
}
.checkinp-XZ dl dt div{
	margin-top: 11px;
	margin-left: 20px;
}
.checkinp-XZ dl dt div span{
	padding-left: 25px;
	margin-bottom: 5px;
	display: inline-block;
	width: 7em;
}
.checkinp-XZ dl dt div em{
	margin-left: 0px;
}
.ipop{
	background: url('/static_new/images/checkRating/ipop.png')no-repeat
}
.itime{
	background: url('/static_new/images/checkRating/itime.png')no-repeat
}
.check-gn{
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #f7f7f7;
}
.check-gn-l{
	position: absolute;
	top: 10px;
	float: left;
	width: 690px;
	margin-left: 25px;
}
.check-gn-l button{
	height: 35px;
	width: 15px;
	margin-top: 3px;
	vertical-align: top;
}
.check-gn-l .inp-left{
	background: url('/static_new/images/checkRating/left.png')no-repeat;
}
.check-gn-l .inp-right{
	background: url('/static_new/images/checkRating/right.png')no-repeat;
}
.check-gn-l .inp-ul{
	display: inline-block;
	width: 610px;
	margin: 0px 20px;
	overflow: hidden;
	vertical-align: middle;
	height: 60px;
	text-align: center;
}
.check-gn-l li{
	display: inline-block;
	/*  width: 90px;
        height: 35px;
        line-height: 17px;
        border: 1px solid #c3c3c3;
        border-radius: 3px;
        margin: 0px 3px;
        text-align: center;*/
	overflow: hidden;
	line-height:35px;
}
.check-gn-l li em,.check-gn-l li i{
	display: inline-block;

}
.user-img{
	background: url(/static_new/images/checkRating/ipop.png)no-repeat 0px 10px;
	padding: 0px 5px 0px 22px;
}
.curr-img{
	background: url(/static_new/images/checkRating/itime.png)no-repeat 0px 10px;
	padding: 0px 4px 0px 22px;
}
.inp-bz i{
	font-size: 12px;
}
.check-gn-l .inp-bz em{
	display: block;
}
.inp-bz{
	width: 90px!important;
	height: 35px!important;
	line-height: 17px!important;
	border:1px dotted #3f7dd2!important;
	background: #dbeaff!important;
	color: #3f7dd2!important;
	cursor: pointer;
	border-radius: 3px;
	margin: 0px 3px;
	text-align: center;
	overflow: hidden;
	/*line-height: 35px!important;*/
}
.check-gn-r{
	position: relative;
	float: right;
	background: url(/static_new/images/checkRating/idate.png)no-repeat 0px 18px;
	padding-left: 25px;
	margin-right: 15px;
	color: #3f7dd2;
}
.inp-tab button{
	width: 122px;
	height: 42px;
	background: #ffa400;
	border: 1px solid #ff7d27;
	color: white;
	border-radius: 5px;
}
.inp-tab i{
	display: inline-block;
	background: url('/static_new/images/checkRating/down.png')no-repeat;
	width: 12px;
	height: 7px;
	margin-left: 15px;
}
.inp-tab{
	margin-top: 10px;
	display: none;
}
.inphv-tab{
	margin-top: 10px;
}
.inp-ii{
	background: url('/static_new/images/checkRating/up.png')no-repeat!important;
}
.inp-tab>ul li{
	margin-left: 25px;
	margin-bottom: 20px;
}
.inp-tab-top{
	height: 38px;
	margin-left: 25px;
	width: 780px;
}
.inp-tab-top  li{
	float: left;
	border: 1px solid #c3c3c3;
	width: 90px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	margin: 0px 1px;
	border-bottom: none;
}
.inp-tab-main{
	width: 780px;
	height: 222px;
	overflow-y: auto;
	margin: 0px 25px;
	border:1px solid #dfdfdf;
}
._,.ln-last{
	display: none;
}
.ln-letters a{
	color:black;
}
.member-select{
	height: 32px;
	background: #e6f0ff;
	line-height: 32px;
}
.inpp-cur{
	background: #3f7dd2;
	color: white;
}
.myList li ,.myListt li{
	float: left;
	margin: 10px 0px 5px 25px;
}
.myList li button,.myListt li button{
	border: 1px solid #3f7dd2;
	background: #dbeaff;
	color: white;
	width: 125px;
	height: 42px;
	border-radius: 3px;
	color: black;
}
.myList-cur{
	background: #ff8400!important;
	border:1px solid #ff8400!important;
	color: white!important;
	font-weight: bold;
}
.inp-tab-mm{
	display: none;
}
.inp-i-left button{
	border:1px solid #ff7d27;
	background: #ff8400;
	color: white;
	width: 125px;
	height: 42px;
	border-radius: 3px;
	margin: 10px 0px 10px 25px;
}
.inp-i-left i{
	display: inline-block;
	background: url("/static_new/images/checkRating/down.png") no-repeat 0px 6px;
	width: 15px;
	height: 15px;
	margin-left: 15px;
}
.inp-i-left-cur{
	background: url("/static_new/images/checkRating/right-1.png") no-repeat 2px 0px!important;
}
.inp-i-left{
	float: left;
}
.inp-i-right{
	float: right;
	width: 780px;
	margin-right: 28px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.inp-i-right table{
	width: 780px;
}
.inp-i-right tr {
	border:1px solid #c3c3c3;
}
.inp-i-right tr:nth-child(even){
	background: #f1f9ff;
}
.inp-i-right tr th,.inp-i-right tr td{
	height: 45px;
	text-align: center;
}
.inp-i-right tr td select{
	margin-left: 5px;
	border:1px solid #d0d0d0;
	width: 85px;
	height: 27px;
}
.inp-i-right tr td input{
	width: 370px;
	height: 27px;
	border:1px solid #d0d0d0;
	padding-left: 0.5em;
}
.inp-BC{
	background: url(/static_new/images/checkRating/inp-edit.png)no-repeat;
	color: #3f7dd2;
	float: right;
	padding-left: 25px;
	margin-right: 30px;
	cursor: pointer;
}
.inp-i-tab{
	margin-top: 15px;
	display: none;
}
/*****************选择检查执行人弹出框***********************/
.checkSet-c{
	display: none;
	position: fixed;
	width: 740px;
	height: 445px;
	top: 50%;
	left: 50%;
	margin-top: -222.5px;
	margin-left: -370px;
	background: white;
	border:3px solid #3f7dd2;
	z-index: 9999999;
}
.checkSet-c-top{
	height: 48px;
	line-height: 48px;
	background: #e6e6e6;
}
.checkSet-c-top em {
	margin-left: 15px;
}
.checkSet-c-top i {
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/static_new/images/checkRating/close.png)no-repeat;
	margin: 15px;
	cursor: pointer;
}
.checkSet-c-ss{
	height: 64px;
	line-height: 64px;
}
.checkSet-c-ss input{
	width: 265px;
	height: 40px;
	border:1px solid #c3c3c3;
	margin-left: 40px;
}
.checkSet-c-ss button{
	width: 72px;
	height: 42px;
	background: #3f7dd2;
	color: white;
	margin-left: -5px;
}
.checkSet-c-ss span{
	display: inline-block;
	float: right;
}
.checkSet-c-ss select{
	width: 156px;
	height: 35px;
	border:1px solid #c3c3c3;
	margin-left: 5px;
}
.checkSet-mm{
	width: 653px;
	height: 235px;
	border: 1px solid #c3c3c3;
	margin: 0 auto;
	overflow-y: auto;
}
.checkSet-mm .ln-letters a{
	margin: 0 5px;
}
.checkSet-mm li{
	cursor: pointer;
	width: 50px;
	height: 70px;
	float: left;
	margin: 10px 14px;
}
.ln-letter-count{
	display: none!important;
}
.checkSet-boot{
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.checkSet-boot button{
	width: 85px;
	height: 36px;
	margin: 5px 10px;
	border-radius: 5px;
}
.checkSet-boot .boot-qd{
	background: #3f7dd2;
	border:1px solid #3f7dd2;
	color: white;
}
.checkSet-boot .boot-qx{
	background:#e4e4e4;
	border:1px solid #bfbfbf;
}
/****************评比模板选择弹出框*********************/
.check-model{
	display: none;
	position: fixed;
	width: 712px;
	height: 570px;
	top: 50%;
	left: 50%;
	margin-top: -275px;
	margin-left: -306px;
	background: white;
	border:3px solid #3f7dd2;
	z-index: 9999999;
}
.checkSet-model-li{
	width: 540px;
	min-height: 35px;
	margin: 0 auto;
	margin-top: 30px;
}
.checkSet-model-li ul{
	display: inline-block;
	width: 465px;
	float: left;
}
.checkSet-model-li li{
	background: #ebebe4;
	color: #a3705f;
	padding: 2px 5px;
	float: left;
	margin: 5px 2px;
	cursor: pointer;
}
.all-cur{
	background: #f3880a!important;
	color: white!important;
}
.checkSet-model-li span{
	display: inline-block;
	width: 55px;
	height: 20px;
	margin-top: 7px;
	margin-left: 9px;
	cursor: pointer;
	color: #a3705f;
}
.model-str{
	background: url(/static_new/images/checkRating/m-right.png)no-repeat 35px 0px;
}
.model-strr{
	background: url(/static_new/images/checkRating/m-down.png)no-repeat 35px 0px;
}
.model-school{
	width: 640px;
	height: 360px;
	margin: 10px auto 0;
}
.model-top{
	display: inline-block;
}
.model-top li{
	float: left;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border-bottom: 3px solid transparent
}
.model-info tr:hover{
	background: #f5f5f5;
}
.model-info{
	height: 345px;
	overflow-y: auto;
	margin-top: 48px;
}
.model-infoo{
	height: 330px;
	overflow-y: auto;
	margin-top: 0px;
}
.model-info tr th{
	background: #f7f7f7;
}
.model-info tr td,.model-info tr th{
	cursor: pointer;
	height: 32px;
	border:1px solid #d3d3d3;
	width: 170px;
	text-align: center;
}
.model-info tr td:first-child{

	padding-left: 45px;
}
.tr-cur{
	border-bottom: 3px solid #3f7dd2!important;
}
.model-right{
	background: url(/static_new/images/checkRating/model-right.png)no-repeat 15px 10px;
	z-index: 9
}
.checkSet-all-li{
	height: 35px;
	overflow: hidden;
}
.checkSet-all-lii{
	min-height: 35px;
	overflow: hidden;
}
.check-model .checkSet-boot{
	margin-top: 35px;
}
.model-inn{
	display: none;
}
/*****************选择检查评比对象**********************/
.checkSet-DX{
	display: none;
	position: fixed;
	width: 826px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -413px;
	background: white;
	border:3px solid #3f7dd2;
	z-index: 9999999999;
}
.checkSet-DX-main{
	width: 785px;
	margin: 0 auto;
}
.DX-left{
	width: 260px;
	float: left;
}
.DX-left-e{
	height: 44px;
	line-height: 44px;
}
.DX-left-b{
	width: 260px;
	height: 330px;
	overflow-y:auto;
	border:1px solid #dbdbdb;
}
.DX-right{
	float: right;
	width: 510px;
}
.DX-right-e li{
	float: left;
	width: 66px;
	border-bottom: 3px solid transparent;
	text-align: center;
	cursor: pointer;
}
.DX-right-e ul{
	height: 38px;
	line-height: 38px;
}
.checkSet-DX .checkSet-boot{
	margin-top: 15px;
}
.DX-right-b{
	margin-top: 4px;
	width: 510px;
	height: 330px;
	border:1px solid #dbdbdb;
}
.b-cur{
	border-bottom: 3px solid #3f7dd2!important;
}
.DX-cl{
	height: 35px;
	width: 100%;
	line-height: 35px;
	padding-right: 15px;
}
.DX-right-b div{
	float: right;
	text-align: right;
}
.DX-right-b ul li{
	float: left;
	width: 87px;
	text-align: center;
	margin: 8px 5px;
	cursor: pointer;
}
.DX-right-b ul{
	display: inline-block;
	height: 295px;
	overflow-y: auto;
}
.DX-right-b ul li img{
	margin: 2px 10px
}
.DX-cur{
	background: url("/static_new/images/checkRating/group-rg.png")no-repeat 71px -3px;
}
.inp-i-i{
	border:1px solid #c3c3c3;
	border-top: none;
}
.inp-ii-left{
	border-left: none;
	border-right: none;
}
.inp-ii-tb{
	border:1px solid #c3c3c3;
	border-top: none;
}
/***************手动选择检查评比对象********************/
.checkSet-DXX{
	display: none;
	position: fixed;
	width: 500px;
	height: 465px;
	top: 50%;
	left: 50%;
	margin-top: -232.5px;
	margin-left: -250px;
	background: white;
	border: 3px solid #3f7dd2;
	z-index: 9999999999;
}
.checkSet-DXX-info{
	margin: 10px 35px;
}
.checkSet-DXX-info input{
	width: 345px;
	height: 35px;
	border: 1px solid #c3c3c3;
}
.checkSet-DXX-info button{
	width: 80px;
	height: 37px;
	background: #3f7dd2;
	color: white;
	margin-bottom: 10px;
}
.checkSet-DXX-info table{
}
.checkSet-DXX-info tr th{
	background: #ececec;
}
.checkSet-DXX-info tr th,.checkSet-DXX-info tr td{
	border:1px solid #c3c3c3;
	height: 45px;
	font-weight: normal;
	text-align: center;
}
.checkSet-dde{
	cursor: pointer;
	color: #3f7dd2;
}
.checkSet-czt{
	width: 430px;
	height: 275px;
	overflow-y: auto;
}

#table-container{
	width: 835px;
	max-height: 640px;
	overflow: auto;
	margin: 40px auto;
	border: 1px solid #DDD;
}
#table-container table{width: 100%;border-width: 0;border-collapse: collapse;}
#table-container table td{padding: 0;border-right: 1px solid #DDD;border-bottom: 1px solid #DDD!important;/*background: #ececec;*/text-align: center;position: relative;overflow: visible;}
.table-mask{
	background: #ececec;
}
#table-container .table-top td, #table-container .table-lt td, #table-container .table-left td{text-align: center;}
#table-container .table-top td:last-child{border-right: 0px solid #DDD;}
#table-container .table-right td:last-child{border-right: 0px solid #DDD;}
#table-container .table-right tr:last-child td{border-bottom: 0px solid #DDD;}
#table-container .table-left tr:last-child td{border-bottom: 0px solid #DDD;}
#table-container td div{display: inline-block;max-width: 100px;margin:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align: center;line-height: 24px;min-width: 100px;}
#table-container .table-lt{position: fixed;z-index:3;}
#table-container .table-top{position: fixed;overflow:hidden;z-index:2;}
#table-container .table-left{position: fixed;overflow:hidden;z-index:2;}
#table-container .table-right{position: relative;z-index:1;}
#table-container .table-mask{position: relative;}
.table-right tr:nth-child(even){
	background: #f1f9ff;
}
.con-tab{
	min-width: 100px!important;
}
.con-cur{
	background: #ececec!important;
	color: black!important;
}
.con-hover{
	display: none;
	position: absolute;
	padding: 5px 10px;
	background: white;
	z-index: 9999999;
	top: 0px;
	right: 0%;
	border: 1px solid #3f7dd2;
	border-radius: 3px;
	word-break: break-all;
	max-width: 100px;
}
.con-tab:hover + .con-hover{
	display: inline-block;
}
.check-pop .check-btoom{
	margin-top: 0px;
}
/**************编辑评比项***************/
.edit-popup{
	display: none;
	position: fixed;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;
	background: white;
	border: 3px solid #3f7dd2;
	z-index: 99999;
}
.edit-p-l{
	float: left;
	border-bottom: 1px solid #3f7dd2;
	width: 435px;
}
.edit-p-li{
	display: inline-block;
	margin: 10px 32px 10px 32px;
}
.edit-p-li li{
	border:1px solid #c3c3c3;
	width: 100px;
	height: 32px;
	float: left;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	color: #3f7dd2;
}
.edit-popup-mi{
	margin-top: -55px;
	height: 165px;
}
.edit-cur{
	background: #3f7dd2!important;
	color: white!important;
	border:1px solid #3f7dd2!important;
}
.edit-text input{
	width: 280px;
	height: 32px;
	border:1px solid #c3c3c3;
}
.edit-text{
	width: 435px;
	margin: 10px auto 0;
}
.edit-popup .check-btoom{
	margin-top: 20px;
}
.edit-textt{
	display: none;
	margin: 10px 30px;
}
.edit-textt input{
	width: 280px;
	height: 32px;
	border: 1px solid #c3c3c3;
	margin-bottom: 10px;
	margin-left: 10px;
}
.btn-span{
	display: none;
}
.conent{
	margin-top: 60px;
}
.edit-p-i{
	float: right;
	margin-top: -40px;
}
.conent i{
	display: block;
	color: red;
	margin-top: 10px;
}
.checkSet-XZ  dd{
	margin-bottom: 20px;
}
.check-date{
}
.check-date .check-dx em {
	display: block;
	margin-bottom: 5px;
}
.check-date input {
	width: 226px;
	height: 35px;
	border: 1px solid #c3c3c3;
}
.check-gn-r span{
	width: 90px;
	height: 61px;
	background: red;
	display: inline-block;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}
.checkSet-del{
	background: url(/static_new/images/checkRating/hdel.png)no-repeat 10px 3px;
	height: 28px!important;
	width: 36px!Important;
	background-size: 20px;
	margin-top: 18px!important;
	transform: scale(0.7);
}
.check-date-te{
	margin-left: -75px!important;
}
.check-date-te input{
	margin-left: 10px;
}
.check-date-te em{
	margin-left: 10px;
}
.datainp{
	cursor: pointer;
}
.jedatebox{
	width: 350px;
	border: 1px solid #fe971f;
	z-index: 99999!important;
}
.jedatebot{
	display: none;
}
.jedatebox .jedateym{
	float: left;
	height: 30px;
	line-height: 30px;
	width: 35% !important;
	margin: 15px 10px 15px 25px!important;
	border: 1px solid #bdc0c0;
}

.dian-1{
	padding-left: 10px;
	word-break: break-all;

}
.dian-2{
	padding-left: 40px;
	word-break: break-all;
}
.dian-3{
	padding-left: 70px;
}
.dian-4{
	padding-left: 100px;
}

.dian-5{
	padding-left: 130px;
}

.dian-6{
	padding-left: 160px;
}
.set-ls input{
	width: 15px!important;
	height: 15px!important;
}
.check-zq{
	float: left;
}
.check-zqs{
	float: right;
}
.datep{
	margin-top: 11px;
}

.RTValueInput{
	margin-left: 5px!important;
	width: 76px!important;
}

.check-out{
	float: right;
	color: white;
	vertical-align: top;
	/*margin-top: 30px;*/
	font-size: 16px;
}

.check-out i{
	cursor: pointer;
	font-style: normal;
}
.allExport{
	width: 50px;
	background: #3f7dd2;
	color: #fff;
	height: 23px;
	border-radius: 4px;
	float: right;
	margin: 16px 14px 0 0;
}
.dddd{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-bottom: 5px;
	border-top-style: none;
	list-style: none;
	list-style-type: none;
	text-align: -webkit-match-parent;
}
#selec{
	display: inline-block;
}
#selec select{
	width: 120px;
	height: 35px;
	border: 1px solid #dfdfdf;
	margin-left: 25px;
}
.yincamg h6{
	font-size: 30px;
	color: #999;
	margin: 150px 0;
	text-align: center;
}
.newPage-top-right{
	line-height: 79px;
}
.newPage-top-right>i{
	font-style: normal;
}
#createNewVote{
	padding: 5px 15px;
	background: #63c732;
	color: #fff !important;
}
.vote-table .vote-status{
	float: none !important;
	display: inline-block;
	margin-top: 0 !important;
}
.remove{
	cursor: pointer;
}
.nolunar{
	color: #000;
}
.jedateblue .jedaul li.other .nolunar{
	color: #0191ec !important;
}
#fileListShow li{
	display: inline-block;
	margin: 10px 10px 0 0;
}
.jedateblue .jedaul li .nolunar{
	font-weight: 400 !important;
}
.work-image:hover{
	text-decoration: none !important;
}
.triangle,.pndrop {
	height: 30px !important;
}
.jedateblue .jedatetopym p{
	margin-top: -22px !important;
}
.jedateblue .jedatesety .ymdropul li{
	height: 45px;
	line-height: 45px;
}
.ico_docu,.ico_close,.ico_open{
	display: none !important;
}

.vote-btnn{
	margin-top: -50px;
	clear: both;
}
.vote-btnn em{
	font-style: normal;
	margin-right: 5px;
}
.bp{
	margin-right: 15px;
	font-size: 14px;
}
.bp input{
	margin-left: 5px;
}