html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none}
textarea{resize: none;outline: none;}
select{outline: none;font-family: Microsoft yahei;text-indent: 1em;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.fl{
    float: left;
}
.fr{
    float: right;
}
::-webkit-input-placeholder { color:black; font-family: Microsoft yahei}
::-moz-placeholder { color:black; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:black; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:black; font-family: Microsoft yahei}
.head{
    height: 80px;
    background:  #6346f2;
    color: #fff;
    min-width: 1200px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.head-main{
    width: 1200px;
    margin: 0 auto;
    height: 100%;

}
.logo-wrap {
    width: 180px;
    height: 30px;
    margin: 26px 162px 0 0;
}
.nav-list {
    height: 100%;
}
.nav-list li {
    float: left;
    height: 100%;
    width: 145px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.nav-list li.li-active {
    background:#4b31c9;
}
.nav-list li .icon-wrap img {
    vertical-align: middle;
}
.nav-list li img{
    margin: 16px 5px 12px 55px;
}
.user-info {
    height: 80px;
    color: #fff;
    padding-top: 50px;
    box-sizing: border-box;
}
.login-out {
    cursor: pointer;
}
.static-main{
    width: 1200px;
    margin: 115px auto;
    background: white;
    border:1px solid #d7d7d7;
}
.static-main p{
    font-size: 18px;
    padding: 35px 25px 0px 25px;
    color: black;
}
.static-sel{
    margin-left: 25px;
    margin-top: 20px;
    color: black;
    font-size: 14px;
}
.static-sel select{
    width: 135px;
    height: 35px;
    border:1px solid #c7c7c7;
    margin-right: 25px;
}
.em-left{
    margin-left: 10px;
}
.application-main{
    width: 1200px;
    margin: 115px auto;
    background: white;
}
.application-left{
    width: 240px;
    min-height: 705px;
    border:1px solid #d7d7d7;
}
.application-left dl dt{
    color: black;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.application-left dl dd{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.application-left dl dd:hover{
    background: #ecf7ff;
}
.dd-cur{
    background: #ecf7ff; 
}
.i-cur{
    display: inline-block;
    width: 21px;
    height: 17px;
    background: url('/static_new/images/simplelog/static-right.png')no-repeat;
    padding-right: 25px;
    margin-top: 10px;
}
.application-left dl dd img{
    display: inline-block;
    width: 34px;
    height: 34px;
    padding-left: 20px;
    vertical-align: middle;
}
.application-left dl dd em{
    vertical-align: top;
    color: black;
    padding-left: 10px;
}
.application-right{
    width: 940px;
    border:1px solid #d7d7d7;
}
.application-eac{
    height: 85px;
    line-height: 85px;
}
.application-eac h1{
    font-size: 18px;
    color: black;
    padding-left: 25px;
}
.app-ul{
    margin: 26px 20px 0px 0px;
}
.li-cur{
    background: #576477;
    color: white!important;
}
.app-ul li{
    float: left;
    width: 55px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border:1px solid #d9dadc;
    border-right: none;
    cursor: pointer;
}
.touxiang {
    height: 150px;
    padding-top: 30px;
    width: 855px;
    text-align: center;
    margin: 0 auto;
}
.touxiang .bot {
    width: 248px;
    height: 100%;
    float: left;
    font-size: 24px;
    color: #878ca2;
    text-align: center;
}
.touxiang .bot dl {
    overflow: hidden;
    padding: 0 53px 0;
}
.touxiang .bot dt {
    float: left;
}
.touxiang .bot dd {
    float: right;
    line-height: 62px;
}
.touxiang .bot ul {
    font-size: 30px;
    line-height: 89px;
}
.app-ul li:last-child{
    border:1px solid #d9dadc;
}
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 99;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}