
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493265164594'); /* IE9*/
  src: url('iconfont.eot?t=1493265164594#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493265164594') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493265164594') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493265164594#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
  vertical-align: 1px;
  margin-right: 3px;
}

.icon-del:before { content: "\e613"; }

.icon-38xinzeng:before { content: "\e618"; }

.icon-edit:before { content: "\e6e0"; }

