html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#656565; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none}
textarea{resize: none;outline: none;}
select{outline: none;font-family: Microsoft yahei;text-indent: 1em;}
.group-con-I{
    position: relative;
}
.add{
    position: absolute;
    top: -37px;
    right: 79px;
    background: red;
    width: 65px!important;
    height: 25px!important;
}

.group-top{
	height: 80px;
	background: #2266c2;
	min-width: 1200px;
}
.group-top-info{
	width: 1200px;
	margin: 0 auto;
}
.group-top-left{
	margin-top: 25px;
	float: left;
	margin-right: 145px;
}
.group-top-info ul li{
	float: left;
	cursor: pointer;
	width: 125px;
	height: 80px;
	text-align: center;
}
.group-top-info ul li span{
	display: block;
	color: white;
}
.group-top-info ul li img{
	display: inline-block;
	margin-top: 15px;
	width: 30px;
	height: 30px;
}
.group-top-info ul li:hover{
	background: #1b59ac;
}
.group-cur{
	background: #1b59ac;
}
.group-info{
	width: 1200px;
	margin: 10px auto;
}
.group-info-left{
	float: left;
	margin-right: 15px;
	width: 290px;
	border:1px solid #bbbbbb;
}
.group-info-t{
	height: 48px;
	line-height: 48px;
	background: #e6e6e6;
	border-bottom: 1px solid #bbbbbb;
}
.group-info-t ul li{
	float: left;
	width: 40px;
	text-align: center;
	margin: 0px 10px;
}
.group-info-t ul li em{
	display: inline-block;
	color: black;
	cursor: pointer;
}
.g-cur{
	border-bottom: 2px solid #2266c2;
	font-weight: bold;
	height: 43px;
}
.group-info-t button{
	float: right;
	margin: 12px 0px;
	color: #3999d4;
	background: #e6e6e6;
	/*border-radius: 3px*/;
}
.group-info-t button em{
	color: #999999;
	font-weight: bold;
   /* font-size: 18px;*/
	display: inline-block;
	margin-right: 5px;

	background: #2266c2;
	color: white;
	/*border-radius: 3px;*/
	width: 65px;
	height: 25px;
	line-height: 25px;
}
.group-n-II img{
	width: 15px;
	height: 15px;
    /* margin-top: 0px; */
    vertical-align: top;
    margin-top: 5px;
}
.group-info-t button em i{
	color: white;
	/*font-size: 14px;*/
	margin-left: 3px;
}
.group-info-right{
	float: left;
	width: 890px;
	border:1px solid #bbbbbb;
	overflow-y:auto;
	overflow-x: hidden
}
.group-q1 {
	height: 48px;
	line-height: 48px;
	background: #e6e6e6;
	border-bottom: 1px solid #bbbbbb;
	width: 890px;
	margin-top: -20px;
	margin-left: -30px;
}
.group-info-right dl{
	margin: 20px 0px 20px 30px;
}
.group-info-right dd>div{
	display: inline-block;
}
.group-edit-b{
	float: right;
    margin-left: 15px;
    margin-right: 26px;
}
.group-edit-b button{
	background: #2266c2;
    color: white;
    width: 65px;
    height: 30px;
  /*  border-radius: 3px;*/
}
.group-se {
	margin-bottom: 5px;
}
.group-info-right em{
	color: black;
	font-weight: normal;
	margin-right: 10px;
}
.group-info-right dd{
	margin-bottom: 15px;
}
.group-in{
	position: relative;
	margin-left: 30px;
}
.group-in input{
	width: 220px;
	height: 22px;
	border:1px solid #bebebe;
}
.group-in button{
	height: 37px;
	width: 70px;
	background: #2266c2;
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
}
.group-se select{
	width: 185px;
	height: 25px;
	border:1px solid #bebebe;
}
.group-in em,.group-se em,.group-te em,.group-lo em,.group-int em{
	display: inline-block;
	margin-right: 10px;
}
.group-se input{
	width: 640px;
	height: 35px;
	border: 1px solid #bebebe;
}
.group-bu{
	float: right;
}
.group-bu button{
	background: #2266c2;
	border:none;
	/*border-radius: 3px*/;
	width: 85px;
	height: 35px;
	color: white;
	margin-top: 25px;
}
.group-te{
	position: relative;
	float: left;
	margin-top: 5px;
}
.group-te em{
	vertical-align: top;
}
.group-te button{
	height: 37px;
	width: 70px;
	background: #2266c2;
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
}
.group-te textarea {
	width: 750px;
	height: 250px;
	border: 1px solid #bebebe;
	font-family: Microsoft yahei;
	font-size: 12px;
}
.group-edit-bb{
	float: right;
    margin-right: 5px;
    margin-left: 35px;
	margin-top: 9px;
}
.group-edit-bb button{
	background: #2266c2;
    color: white;
    width: 65px;
    height: 30px;
    /*border-radius: 3px*/;
}
.group-lo{
	float: right;
	margin-right: 40px;
}
.group-lo em{
	vertical-align: top;
}
.group-lo img{
	border-radius: 5px;
	display: block;
}
.group-lo span{
	display: inline-block;
	/* background: url(../images/group-up.jpg) no-repeat; */
	/* padding-left: 25px; */
	color: black;
	/* cursor: pointer; */
	/* vertical-align: top; */
	margin-top: 5px;
	margin-left: 12px;
}
.group-int{
	margin-top: 10px;
	position: relative;
}
.group-int input {
	height: 35px;
	width: 640px;
	border: 1px solid #bebebe;
}
.group-int button{
	height: 37px;
	width: 70px;
	background: #2266c2;
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
}
.group-s select{
	width: 165px;
	height: 25px;
	border: 1px solid #bebebe;
}
.group-edit{
	margin-top: 5px;
	cursor: pointer;
	float: right;
	margin-right: 40px;
}
.group-s{
	float: right;
	margin-right: 17px;
	margin-top: 6px;
}
.group-edit span{
	display: inline-block;
	background: url(/static_new/images/group/group-edit.png) #2266c2 5px 5px no-repeat;
	padding-left: 20px;
	width: 100px;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
	margin-left: 28px;
	/* border-radius: 3px; */
	margin-top: 3px;
	vertical-align: top;
}
.group-tb{
	width: 100%;
	height: 351px;
	overflow-y: auto;
}
.group-tb tr th,.group-tb tr td{
	border:1px solid #bebebe;
	width: 162px;
}
.group-tb tr th{
	height: 55px;
	background: #e3e3e3;
	color: black;
}
.group-tb tr td{
	height: 41px;
	text-align: center;
}
.group-tb tr:nth-child(even){
	background: #f5f6ff;
}
.group-tbb{
	height: 390px;
	overflow-y: auto;
}
.group-popu-bf div{
	display: inline-block;
}
/*.group-popu-bf div:nth-child(1){
	margin-right: 80px;
}*/
.group-popu-bf{
	line-height: 35px;
	position: relative;
	margin-bottom: 10px;
}
.group-popu-bf button{
	background: white;
	border:1px solid #bebebe;
	width: 100px;
	height: 32px;
    float:right;
	/*border-radius: 3px*/
}
.group-popup-info .group-ani{
	display: none;
	border: 1px solid #bebebe;
    position: absolute;
    right: 0px;
    top: 35px;
    background: white;
	min-height: 32px;
}
.group-popu-bf .group-xyy{
	display: none;
	position: absolute;
    top: 40px;
    right: 5px;
}
.group-xyy button{
	width: 45px;
    height: 25px;
}
/***************************管理群组成员**************************/
.group-popup{
	display: none;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: white;
}
.group-popup .group-popup-info{
	width: 1200px;
	margin: 5px auto;
	border:1px solid #bebebe;;
}
.group-popup-fh a{
	display: inline-block;
    margin-bottom: 7px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    background: url(/static_new/images/group/group-return.png) no-repeat 0px -3px;
    width: 80px;
    height: 26px;
    margin-top: -11px;
    padding-left: 32px;
}
.group-fh {
	display: inline-block;
	margin-bottom: -7px;
	font-size: 15px;
	color: black;
	cursor: pointer;
	background: url(/static_new/images/group/group-return.png) no-repeat 0px -1px;
	width: 0px;
	height: 26px;
	padding-left: 26px;
	margin-left: 15px;
}
.group-popup-top{
	display: none;
	height: 50px;
	line-height: 50px;
	background: #e6e6e6;
}
.group-popup-top em,.group-popup-top i{
	margin: 15px;
	font-size: 15px;
}
.group-popup-top i{
	float: right;
	/*background: url('/static_new/images/group/close-n.png') no-repeat;*/
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.group-popup-info dl{
    margin: 20px 0px 20px 20px;
}
.group-popup-info em{
	display: inline-block;
	color: black;
	margin-bottom: 5px;
}
.group-popup-info input{
	width: 185px;
	height: 22px;
	border:1px solid #bebebe;
}
.group-popup-info select{
	width: 185px;
	height: 22px;
	border:1px solid #bebebe;
}
.group-list{
	width: 560px;
	height: 315px;
	border: 1px solid #bebebe;
}
.group-list-top{
	height: 30px;
	line-height: 30px;
	background: #e6f0ff;
}
._,.ln-last,.ln-letter-count{
	display: none!important;
}
.myList{
	height: 285px;
	overflow-y: auto;
}
#myList-nav a{
	margin:0px 1px;
	color: black;
}
#myList li{
	float: left;
	width: 65px;
	height: 65px;
	margin: 12px 5px;
	text-align: center;
	cursor: pointer;
	border: 1px solid white;
}
#myList li:hover{
	background: url('/static_new/images/group/group-rg.png')no-repeat #EBF6FF 49px -3px;
	border: 1px solid #bebebe!important
}
#myList li>img{
	display: block;
    margin: 0px 8px;
}
#myList li>span{
	display: inline-block;
	width: 4em;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.group-rg {
	background: url('/static_new/images/group/group-rg.png')no-repeat 49px -3px;
	border: 1px solid #bebebe!important;
}
/*#myList li:nth-child(7n){
	margin-right: 0px;
}*/
#myList-nav{
    float: left;
    height: 30px;
    overflow: hidden;
}
.group-sf{
	float: right;
}
.group-sf em{
	display: inline!important;
}
.group-sf select{
	width: 130px;
	height: 22px;
}
.group-popup-left{
	float: right;
	margin-top: 10px;
	margin-right: 13px;
}
.group-popup-right{
	float: left;
	width: 594px;
	margin-left: -5px;
	margin-top: 22px;
}
.group-popup-right tr th,.group-popup-right tr td{
	border:1px solid #bebebe;
	width: 95px;
	text-align: center;
	color: black;
}
.group-popup-right tr th{
	height: 48px;
	background: #e3e3e3;
}
.group-popup-right tr td{
	height: 34px;
}
.group-fh-top h3 {
	display: inline-block;
	margin-left: 10px;
}
.group-popup-right tr:nth-child(even){
	background: #f5f6ff;
}
.group-fh-top {
	height: 48px;
	line-height: 48px;
	background: #e6e6e6;
	border-bottom: 1px solid #bbbbbb;
	width: 1200px;
	margin-top: -20px;
	margin-left: -20px;
	color: black;
}
.group-popup-right tr td em{
	display: inline-block!important;
	color: #3999d4;
	font-weight: normal;
	cursor: pointer;
	margin: 0px 5px;
}
.group-popup-right-b{
	height: 351px;
	overflow-y: auto;
}
.group-add button{
	border: 1px solid #bebebe;
    width: 85px;
    height: 26px;
   /* border-radius: 3px;*/
    color: white;
    background: #2266c2;
	font-size: 12px;
}
.group-add button em{
	display: inline;
	color: white;
}
.group-add{
	/*float: right;*/
    margin-top: 0px;
}
.group-popup-bottom{
	display: none;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	/*display: inline-block;*/
}
.group-popup-bottom button{
	width: 85px;
	height: 35px;
	border-radius: 5px;
	margin: 0 10px;
}
.group-popup-bottom .group-qd{
	background: #2266c2;
	border:1px solid #2266c2;
	color: white;
}
.group-popup-bottom .group-qX{
	background: #e4e4e4;
	border:1px solid #bebebe;
	color: black;
}
.group-I{
	width: 100%;
}
.group-fl{
	position: relative;
}
.group-fl em{
	display: inline-block;
}
.group-fl input{
	width: 380px;
	height: 22px;
	border:1px solid #bebebe;
	text-indent: 0.5em;
	margin-right: 10px;
}
.group-fl button{
	height: 37px;
	width: 70px;
	background: #2266c2;
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
}
.group-rl{
	float: right;
}
.group-rl button{
	width: 85px;
	height: 35px;
	background: #2266c2;
	color: white;
	/*border-radius: 3px;*/
}
.group-il{
	float: right;
    width: 230px;
}
.group-sl{
	position: relative;
}
.group-sl em{
	display: inline-block;
	vertical-align: top;
}
.input-bor{
	border:1px solid #bebebe;
}
.group-sl textarea{
	width: 380px;
	height: 44px;
	border:1px solid #bebebe;
	text-indent: 0.5em;
}
.group-sl button{
	height: 37px;
	width: 70px;
	background: #2266c2;
	color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
}
.group-il em{
	display: inline-block;
}
.group-il div{
	display: inline-block;
}
.group-il span{
	display: inline-block;
	margin-right: 15px;
	margin-top: 22px;
}
.group-il span em{
	display: inline-block;
	font-weight: normal;
}
.group-il input{
	width: 15px;
	height: 15px;
	border:1px solid #bebebe;
}
.group-I-t{
	width: 100%;
}
.group-I-t button{
	float: right;
	color: #3999d4;
	background: #2266c2;
	color: white;
	width: 85px;
	height: 25px;
	/*border-radius: 3px;*/
	margin-right: 25px;

}
.group-I-t button em{
	color: white;
}
.group-II-b tr th,.group-II-b tr td{
	border:1px solid #d2d2d2;
	width: 200px;
	text-align: center;
}
.group-II-b tr th{
	height: 55px;
	background: #e3e3e3;
	color: black;
}
.group-II-b tr td{
	height: 42px;
}
.group-II-b tr td em{
	font-weight: normal;
	color: #3999d4;
	cursor: pointer;
}
.group-II-bl tr:nth-child(even){
	background: #f5f6ff;
}
.group-II-bl{
	height: 431px;
	overflow-y:auto;
}
.group-II-b{
	margin-top: 10px;
	height: 444px;
	overflow-y: auto;
}
/************添加角色******************/
.popup-addr{
	display: none;
	position: fixed;
	width: 534px;
	height: 440px;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -267px;
	background: white;
	border:3px solid #2266c2;
	/*border-radius: 3px;*/
	z-index: 9999999999
}
.popup-addr-top{
	height: 50px;
	line-height: 50px;
	background: #e6e6e6;
}
.popup-addr-top em, .popup-addr-top i {
	margin: 15px;
	font-size: 15px;
}
.popup-addr-top i {
	float: right;
	background: url('/static_new/images/group/close-n.png') no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.popup-addr-info dl {
	margin: 20px 50px;
}
.popup-addr-info dl dd{
	margin: 10px 0px;
}
.popu-addr-q em{
	display: inline-block!important;
}
.popup-addr-info em {
   display: inline-block;
	color: black;
	/* font-weight: bold; */
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
}
.popup-addr-in input{
	width: 320px;
	height: 22px;
	border:1px solid #bebebe;
}
.popup-addr-te em{
	vertical-align: top;
}
.popup-addr-te textarea{
	width: 320px;
	height: 44px;
	border:1px solid #bebebe;
	font-size: 12px;
}
.popup-addr-li span{
	display: inline-block;
}
.popup-addr-li span input{
	width: 15px;
	height: 15px;
	border:1px solid #bebebe;
}
.popup-lei .popup-addr-li span em{
	display: inline-block;
	font-weight: normal;
	margin-right: 10px;
	width: 4em;
}
.popup-lei .popup-addr-li em{
	margin-right: 38px;
}
.popup-addr-li span em{
	display: inline-block;
	font-weight: normal;
}
.popup-addr-li{
	margin-top: 15px;
}
.popup-addr-li .popup-addr-bn{
	display: inline-block;
	width: 322px;
	margin: 0px;
}
.popup-addr-li .popup-addr-bn span{
	width: 100px;
}
.popup-addr-li>div{
	display: inline-block;
	margin-left: 108px;
	margin-top: -22px;
}
.popup-addr-li select{
	border:1px solid #bebebe;
	width:55px;
	height: 22px;
}
.popup-addr-li .popup-addr-bn2{
	display: none;
}
.popup-lei .popup-addr-bo{
	margin-top: 40px;
}
.popup-addr-bo{
		width: 100%;
	text-align: center;
	margin-top: 60px;
}
.popup-addr-bo button{
	width: 85px;
	height: 35px;
	/*border-radius: 3px;*/
	margin: 0px 5px;
}
.popup-addr-bo .group-qd{
	background: #2266c2;
	border:1px solid #2266c2;
	color: white;
}
.popup-addr-bo .group-qx{
	background: #e4e4e4;
	border:1px solid #bfbfbf;
	color: black;
}
/*******************新建群组类别***************************/
.popup-lei{
	display: none;
	position: fixed;
	width: 535px;
	height: 330px;
	top: 50%;
	left: 50%;
	margin-top: -165px;
	margin-left: -267.5px;
	background: white;
	border:3px solid #2266c2;
	/*border-radius: 3px;*/
	z-index: 9999999999
}
.popup-lei .popup-addr-te{
	margin-top: 15px;
}
.popup-lei .popup-addr-in{
	margin-top: 10px;
}
.group-n-add{
	display: none;
}
.group-con-II{
	display: none;
}
/***************新建群组*****************/
.popup-qun{
	display: none;
	position: fixed;
	width: 510px;
	height: 460px;
	top: 50%;
	left: 50%;
	margin-top: -212.5px;
	margin-left: -250px;
	background: white;
	border:3px solid #2266c2;
	/*border-radius: 3px*/;
	z-index: 9999999999
}
.popup-addr-lo em{
	display: block;
}
.popup-addr-lo>div{
	margin-left: 80px;
	margin-top: -22px;
}
.popup-addr-los{
	display: inline-block;
	background: url(/static_new/images/group/group-up.jpg) no-repeat;
	padding-left: 25px;
	color: #3999d4;
	cursor: pointer;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 10px;
    overflow: hidden;
    width: 0px;
    height: 17px;
    position: absolute;
    bottom: -40px;
    left: 95px;
}
.group-con-I{
	overflow-y:auto;
}
.popup-png{
	margin-bottom: 15px;
	display: inline-block;
}
.popup-addr-lo img{

	margin-bottom: -25px;

}
.popup-b-qun{
	display: none;
    position: fixed;
    width: 510px;
    height: 435px;
    top: 50%;
    left: 50%;
    margin-top: -217.5px;
    margin-left: -250px;
    background: white;
    border: 3px solid #2266c2;
    /*border-radius: 3px*/;
    z-index: 9999999999;
}
.popu-addr-q input {
    width: 320px;
    height: 22px;
    border: 1px solid #bebebe;
}
.popu-addr-q select {
    width: 320px;
    height: 22px;
    border: 1px solid #bebebe;
}
.popup-b-lei{
	display: none;
    position: fixed;
    width: 535px;
    height: 375px;
    top: 50%;
    left: 50%;
    margin-top: -187.5px;
    margin-left: -267.5px;
    background: white;
    border: 3px solid #2266c2;
    /*border-radius: 3px*/;
    z-index: 9999999999;
}
.popup-b-lei .popu-addr-q em{
    margin-right: 37px;
}
#treeDemo_1_a{
    padding-top: 0px;
    background-color: #FFE6B0;
    color: black;
    height: 16px;
    border: 1px #FFB951 solid;
    opacity: 0.8;
}
.bg
{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	/*z-index: 1;*/
	z-index: 999999999;
	position: fixed !important; /*FF IE7*/
	position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
			documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
			document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
.group-edit-popup{
	display: none;
	position: fixed;
	width: 535px;
	height: 425px;
	top: 50%;
	left: 50%;
	margin-top: -212.5px;
	margin-left: -267.5px;
	background: white;
	border: 3px solid #2266c2;
	/*border-radius: 3px*/;
	z-index: 99999999999;
}
.group-addr-tb{
	margin: 15px 25px;
	overflow-y: auto;
	height: 232px;
}
.group-addr-tb tr th{
	color: black;
	background: #e3e3e3;
}
.group-addr-tb tr td{
}
.group-addr-tb tr th,.group-addr-tb tr td{
	text-align: center;
	width: 160px;
	height: 32px;
	border: 1px solid #d2d2d2;
}
.group-rgg{
	background:#dfdfdf;
	border: 1px solid #bebebe !important;
	cursor: default!important;
}
.userList-name{
    display: inline-block;
    width: 7em;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    color: #000000!important;
    cursor: default!important;
}
.group-popup-right>em{
    font-size: 16px;
}
.popup-addr-lo{
    position: relative;
}