html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{
    display: block;
    position:relative;
    z-index:1;
    font-size:14px;
    background-color: #336666;
    padding: 30px;
    font-family: '楷体','Arial';
}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none;text-indent: 0.5em;font-family:Microsoft yahei}
textarea{resize: none;outline: none;font-family:Microsoft yahei;padding:5px}
select{outline: none;font-family: Microsoft yahei;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:#d9d9d9; font-family: Microsoft yahei}
::-moz-placeholder { color:#d9d9d9; font-family: Microsoft yahei} /* firefox 19+ */
:-ms-input-placeholder { color:#d9d9d9; font-family: Microsoft yahei} /* ie */
input:-moz-placeholder { color:#d9d9d9; font-family: Microsoft yahei}

*{box-sizing: border-box;}

.top{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.logo{
    float: left;
    width: 70px;
    height: 70px;
    background: #fff;
    text-align: center;
    line-height: 70px;
}
.school-name{
    float: left;
    padding-top: 10px;
    margin-left: 10px;
    color: #ccff99;
}
.school-name h3{
    font-size: 24px;
    letter-spacing: 1px;
}
.cla-name{
    float: left;
    color: #ccff99;
    font-size: 16px;
    padding-top: 9px;
    margin-left: 40px;
    line-height: 24px;
    font-weight: bold;
}
.cla-name h3{
    font-size: 18px;
}
.time{
    float: right;
    font-size: 28px;
    color: #ccff99;
    padding-top: 22px;
}
.date{
    float: right;
    color: #ccff99;
    font-size: 16px;
    padding-top: 13px;
    margin-left: 40px;
    line-height: 24px;
}

.content{
    width: 100%;
    overflow: hidden;
    padding: 30px 30px 50px;
    background-color: #fff;
    border-radius: 10px;
}


.title{
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccff99;
    display: inline-block;
    padding-bottom: 10px;
}

.tb{
    width: 100%;
}
.tb tr td{
    padding: 10px;
    color: #000;
    font-weight: bold;
    border: 1px solid #d2d2d2;
    text-align: center;
}
.tb thead tr td{
    background-color: #ccff99;
    color: #666;
}

.tb tbody tr td:first-child{
    background-color: #ccff99;
    color: #666;
}